@model VardaanCab.Domain.ViewModels.BookingViewMOdel
@{
    ViewBag.Title = "Unbilled Bookings - " + ViewBag.PackageType;
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var dt = DateTime.Now;
    var links = new VardaanCab.Repository.CommonRepository().GetNonMenuLinks();
    int sn = Model.SrNo;
}

<style>
    #main {
        margin: auto;
        width: 100%;
        font: 12px;
    }

    #cancel {
        font-weight: bold;
        color: #bf2a2a;
        cursor: pointer;
    }

    .linkText {
        font-weight: bold;
        color: #441b71;
    }

    #bookingId {
        color: #1a257d !important;
    }

    #ctable {
        border: 1px solid #1a257d;
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        margin: 0px;
        font-size: 12px !important;
    }

        #ctable td, th {
            color: #1a257d !important;
            margin: 0px;
            border: 1px solid #1a257d;
            padding: 2px 2px;
        }

    hr {
        border-color: #293ac2 !important;
    }
    /*.temerTd{
        padding: 0px !important;
    }*/
    /*.timerTable {
        width: 233px;
    }*/
</style>

<div id="main">
    @*@if (Model.BookingType == "nrd")
        {
            <h2>NRD Bookings</h2>
        }
        else
        {
            <h2>Bookings</h2>
        }*@
    <h2>
        <a href="/Admin/SubMenu?menuId=@ViewBag.menuId" class="btn btn-info">Back</a>&nbsp;
        @ViewBag.Title
    </h2>

    @using (Html.BeginForm())
    {
        <input type="hidden" name="menuId" value="@ViewBag.menuId" />
        <div class="row r">
            <div class="col-md-2">
                <input type="text" value="@Model.Term" placeholder="Booking Id/Org/CabNo" class="form-control" name="term" />
            </div>
            <div class="col-md-2">
                <input type="text" value="@Model.sDate" placeholder="YYYY/MM/DD" class="form-control sdp" name="sDate" autocomplete="off" readonly />
            </div>
            <div class="col-md-2">
                <input type="text" value="@Model.eDate" placeholder="YYYY/MM/DD" class="form-control sdp" name="eDate" autocomplete="off" readonly />
            </div>
            <div class="col-md-1">
              Route No
            </div>
            <div class="col-md-1">
                <input type="text" value="@Model.routeno" placeholder="Route No" name="routeNo" class="form-control" />
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-info" value="Find" />
                <a class="btn btn-info" href="/Booking/UnbilledBooking?menuId=@ViewBag.menuId">Show all</a>

                <button type="button" class="btn btn-info" onclick="Export()" id="btnExport"> <i class="fa fa-file-excel-o"></i></button>
            </div>
        </div>
    }

    <div class="row r">
        <div class="col-md-12" style="height:100% !important;">
            <table id="ctable">
                <thead>
                    <tr>
                        @*<th>S.No.</th>*@
                        <th style="width:62px">Edit</th>
                        <th style="width:80px">Date Time</th>
                        <th style="width:80px">Booking Type</th>
                        <th style="width:70px">Route No.</th>
                        <th style="width:70px">City</th>
                        <th style="width: 90px;">Vehicle</th>
                        <th style="width:120px">Traveler</th>
                        <th style="width:120px">Pickup-Drop Address</th>
                        @*@if (Model.BookingStatus != 2)
                            {
                             <th>Update By</th>
                             <th>Update Date</th>
                            }*@
                        @*<th style="width:90px">Time Left</th>*@
                        @*<th>Status</th>*@
                        <th style="width:70px">Instruction</th>
                        <th>By</th>
                        <th width 118px;>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Bookings)
                    {

                        <tr style="background-color:@item.Color" id="rowtr">
                            @*<td class="sticky-col first-col">@(++sn)</td>*@
                            <td>
                                <b># @(++Model.SrNo)</b> <br />
                                @if (links.Contains("Edit Booking"))
                                {
                                    @Html.ActionLink("" + item.BookingId, "Edit", new { id = item.Id, menuId = ViewBag.menuId, sDate = Model.sDate, eDate = Model.eDate, term = Model.Term, page = Model.Page, fromUnbilled = true }, new { id = "bookingId" })
                                }
                            </td>
                            <td>
                                <b>Booking <br /> </b>@item.BookingDate.ToString("dd-MM-yyyy") <hr />
                                <b>Pickup <br /> </b>@item.PickupDate.ToString("dd-MM-yyyy") @item.PickupTime
                            </td>
                            <td>
                                @item.BookingType <hr />
                                @item.PackageTypeName <br />
                                @item.RentalTypeName
                            </td>
                            <td>@item.RouteNo</td>
                            <td>@item.CityName</td>
                            <td>
                                <b>Booked : </b> @item.DesiredCar <br />
                                @if (!string.IsNullOrEmpty(item.VehicleName) && !string.IsNullOrEmpty(item.VehicleNo))
                                {
                                    <b><span>Alloted: </span></b> <span>@item.VehicleName</span><br />
                                    <b><span>Vehicle No: </span></b><span>@item.VehicleNo</span><br />
                                }
                                <br />
                                @if (!string.IsNullOrEmpty(item.DriverName) && !string.IsNullOrEmpty(item.DriverContactNo))
                                {
                                    <b><span>Driver: </span></b><span>@item.DriverName</span> <br />
                                    <b><span>Contact No: </span></b><span>@item.DriverContactNo</span>
                                }
                            </td>
                            <td>
                                @item.CompanyName <br />
                                <hr />
                                Booker Name : @item.BookedByPerson
                                @if (!string.IsNullOrEmpty(item.BookedByPersonMobileNo))
                                {
                                    <br />
                                    <span> Mobile No : @item.BookedByPersonMobileNo</span>
                                }
                                    <hr />
                                    Guest : @item.CustomerName @if(item.IsVIP)
                                    {<span style="background-color:#ecfb06 !important">♛</span>} <br />
                                Mobile : @item.ContactNo <br />
                                Email : @item.Email
                            </td>

                            @*  <td>@item.BookingDate.ToString("dd-MM-yyyy")</td>*@
                            <td>
                                @item.PickupAddress<br />
                                @if (!string.IsNullOrEmpty(item.PickupLandMark))
                                {
                                    @item.PickupLandMark
                                }
                                <hr />
                                @item.DropAddress <br />
                                @if (!string.IsNullOrEmpty(item.DropLandmark))
                                {
                                    @item.DropLandmark
                                }
                            </td>
                            <td>@item.BookingInstruction</td>
                            <td><span title="@item.UpdateDescription" style="color:#0419bf;cursor:pointer">By</span></td>

                            <td>
                                @*@if ((VardaanCab.Utilities.BookingStatus)item.BookingStatus == VardaanCab.Utilities.BookingStatus.Pending)
                                {
                                    if (links.Contains("Delete Booking"))
                                    {
                                        @Html.ActionLink("Delete", "DeleteBooking", new { id = item.Id, page = Model.Page, menuId = ViewBag.menuId, sDate = Model.sDate, eDate = Model.eDate }, new { @class = "linkText", onclick = " return window.confirm('Are you sure to delete?')" }) <br />
                                    }
                                    if (links.Contains("Assign Cab"))
                                    {
                                        @Html.ActionLink("Dispatch", "AssignCab", "Assign", new { id = item.Id, page = Model.Page, menuId = ViewBag.menuId, bookingType = Model.BookingType, term = Model.Term, sDate = Model.sDate, eDate = Model.eDate, bookingStatus = Model.BookingStatus }, new { @class = "linkText" }) <br />
                                    }

                                }

                                @if ((VardaanCab.Utilities.BookingStatus)item.BookingStatus == VardaanCab.Utilities.BookingStatus.Dispatched
                                      || (VardaanCab.Utilities.BookingStatus)item.BookingStatus == VardaanCab.Utilities.BookingStatus.Pending)
                                {
                                    if (links.Contains("Cancel Booking"))
                                    {
                                        <span id="cancel" url="/Booking/CancelBooking?bookingId=@item.Id&pDriver_Id=@item.DriverId&pCab_Id=@item.Cab_Id&bStatusId= @((int)VardaanCab.Utilities.BookingStatus.Cancelled)&menuId = @ViewBag.menuId" onclick="cancelBooking(this)">Cancel</span> <br />
                                    }
                                    if (item.DriverId != null || item.Cab_Id != null)
                                    {
                                        @Html.ActionLink("Change Cab & Driver", "AssignCab", "Assign", new
                                   {
                                       id = item.Id,
                                       pDriver_Id = item.DriverId,
                                       pCab_Id = item.Cab_Id,
                                       page = Model.Page,
                                       menuId = ViewBag.menuId,
                                       bookingType = Model.BookingType,
                                       term = Model.Term,
                                       sDate = Model.sDate,
                                       eDate = Model.eDate,
                                       bookingStatus = Model.BookingStatus
                                   }, new { @class = "linkText" }) <br />
                                    }
                                    if (item.PickupDateTime >= DateTime.Now)
                                    {
                                        if (item.Cab_Id != null || item.DriverId != null)
                                        {
                                            if ((VardaanCab.Utilities.BookingStatus)item.BookingStatus == VardaanCab.Utilities.BookingStatus.Dispatched)
                                            {
                                                if (links.Contains("ReleaseCab"))
                                                {
                                                    @Html.ActionLink("Relase Cab/Driver", "ReleaseCab", new
                                               {
                                                   id = item.Id,
                                                   page = Model.Page,
                                                   menuId = @ViewBag.menuId,
                                                   term = Model.Term,
                                                   sDate = Model.sDate,
                                                   eDate = Model.eDate
                                               }, new { @class = "linkText" }) <br />
                                                }
                                            }
                                        }
                                        else
                                        {
                                        }
                                    }
                                    else
                                    {
                                        if (item.Cab_Id != null && item.DriverId != null)
                                        {
                                            if ((VardaanCab.Utilities.BookingStatus)item.BookingStatus == VardaanCab.Utilities.BookingStatus.Dispatched)
                                            {

                                                if (links.Contains("ReleaseCab"))
                                                {
                                                    @Html.ActionLink("Relase Cab/Driver", "ReleaseCab", new { id = item.Id, page = Model.Page, menuId = @ViewBag.menuId, term = Model.Term, sDate = Model.sDate, eDate = Model.eDate }, new { @class = "linkText" }) <br />
                                                }
                                            }
                                        }
                                    }
                                }*@

                                @if (links.Contains("Close Booking"))
                                {
                                    @Html.ActionLink("Close Booking", "CloseBooking", new { id = item.Id, page = Model.Page, menuId = @ViewBag.menuId, term = Model.Term, sDate = Model.sDate, eDate = Model.eDate })
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row r r">
        <div class="col-md-12">
            <ul class="pagination">
                @for (int i = 1; i <= Model.NumberOfPages; i++)
                {
                    <li class="@if (i == Model.Page) {<text>active</text> }">
                        <a href="/Booking/UnbilledBookingBypType?term=@Model.Term&page=@i&menuId=@ViewBag.menuId&sDate=@Model.sDate&eDate=@Model.eDate&pType=@ViewBag.PackageTypeID&bookingType=regular">@i</a>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>



<script src="/Scripts/jquery-1.12.4.min.js"></script>
<script>

    function Export()
    {
        var _term = '@Model.Term';
        var _page=@Model.Page;
        var _menuId=@ViewBag.menuId;
        var _sDate='@Model.sDate';
        var _eDate='@Model.eDate';
        var _export = true;
        window.location.href =`/Booking/UnbilledBookingBypType?term=${_term}&sDate=${_sDate}&eDate=${_eDate}&page=${_page}&pType=@ViewBag.PackageTypeID&bookingType=regular&menuId=${_menuId}&export=${_export}`;
    }

</script>
