@model VardaanCab.Domain.DTO.AreaMasterDTO
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/New_Master/_FinelAdminLayout.cshtml";
}

<div class="pcoded-content">

    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <div class="card bread">
                    <div class="card-body">
                        <h5>@ViewBag.Heading</h5>
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#!">
                                        <i class="fa fa-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Master Enteries</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Areas</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <!-- Heading -->
                                    <h5>@ViewBag.Heading</h5>

                                    <!-- Import and Export Section -->
                                    <div class="d-flex align-items-center">


                                        <a href="/Area/All" class="btn btn-primary btn-sm">
                                            Show All
                                        </a>
                                    </div>
                                </div>
                            <div class="card-block">
                                @using (Html.BeginForm())
                                {
                                        <input name="MenuId" type="hidden" value="@ViewBag.menuId" />
                                        <input name="Id" type="hidden" value="@Model.Id" />
                                        if (TempData["msg"] != null)
                                        {
                                            <div class="mb-3">
                                                <div class="alert alert-info">
                                                    @TempData["msg"]
                                                </div>
                                            </div>
                                        }

                                        <div class="mb-3">
                                            <label class="form-label-title ">Area Name <span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(a => a.AreaName, new { @class = "form-control", @required = "required" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.AreaName)
                                            </span>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label-title ">State <span class="text-danger">*</span></label>
                                            @Html.DropDownListFor(a => a.StateMaster_Id, Model.States, "Select State", new { @class = "form-control", @required = "required" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.StateMaster_Id)
                                            </span>
                                        </div>

                                        <div class="mb-3">
                                            <input type="text" id="Cityid" hidden value="@ViewBag.Cityid" />
                                            <label class="form-label-title ">City <span class="text-danger">*</span></label>
                                            @Html.DropDownListFor(a => a.CityMaster_Id, Enumerable.Empty<SelectListItem>(), "Select City", new { @class = "form-control", @required = "required" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.CityMaster_Id)
                                            </span>
                                        </div>
                                    <div class="card-footer text-end">
                                        <input type="submit" class="btn btn-primary" value="@ViewBag.BtnTXT" />
                                        <a href="/Area/All" class="btn btn-outline-primary">Cancel</a>
                                    </div>
                                }
                            </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
    </div>
</div>
 
<script>
    document.addEventListener("DOMContentLoaded", function () {
    $("#StateMaster_Id").change(function () {
        var id = $(this).val();
        $.get('/Common/GetCityByState?stateId=' + id, function (r) {
            var dd = $("#CityMaster_Id");
            dd.empty();
            dd.append('<option value="">Select City</option>');
            $.each(r, function (k, v) {
                dd.append('<option value="' + v.Id + '">' + v.CityName + '</option>');

            })
        })
    });

    $(document).ready(function () {
        var id = $("#StateMaster_Id").val();
        $.get('/Common/GetCityByState?stateId=' + id, function (r) {
            var dd = $("#CityMaster_Id");
            dd.empty();
            dd.append('<option value="">Select City</option>');
            $.each(r, function (k, v) {
                dd.append('<option value="' + v.Id + '">' + v.CityName + '</option>');

            })
            $("#CityMaster_Id").val($("#Cityid").val());
        })
    });
    });
</script>
 