@model VardaanCab.Models.DTO.ClientUserDTO
@{
    ViewBag.Title = "Add Client User";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<style>
    .row{
        margin-top:1% !important;
    }
</style>


@using (Html.BeginForm("AddClient", "AdminOperations", FormMethod.Post,new { encType="multipart/form-data"}))
{
<div style="width:50%">
    <input type="hidden" name="MenuId" value="@ViewBag.menuId" />
    <div class="row r">
        <div class="col-md-12">
            <a href="/AdminOperations/ClientAll?menuId=@ViewBag.menuId" class="btn btn-info" style="margin-left:2%">Back</a>

           <a href="/AdminOperations/ClientAll?menuId=@ViewBag.menuId" class="btn btn-info">Show all</a>
        </div>
    </div>

    <div class="row r">
        <div class="col-md-12">
            <h2>Add Client User</h2>
        </div>
    </div>
    
    @if (TempData["msg"] != null)
    {
        <div class="row r">
            <div class="col-md-12">
                <div class="alert alert-info">
                    @TempData["msg"]
                </div>
            </div>
        </div>
    }

    <div class="row r">
        <div class="col-md-12">

            <div class="form-group">
                Compamy Name
                @Html.DropDownListFor(a => a.Customer_Id, new SelectList(ViewBag.customerlist, "Id", "CustomerNameWithCity"), "Select", new { @class = "form-control" })
                <span class="text-danger">
                    @Html.ValidationMessageFor(a => a.Customer_Id)
                </span>
            </div>
            <div class="form-group">
                Client Name *
                @Html.TextBoxFor(a => a.ClientName, new { @class = "form-control", @style = "text-transform:uppercase" })
                <span class="text-danger">
                    @Html.ValidationMessageFor(a => a.ClientName)
                </span>
            </div>
            <div class="form-group">
                Contact No.
                @Html.TextBoxFor(a => a.MobileNumber, new { @class = "form-control", @maxlength = "10" })
                <span class="text-danger">
                    @Html.ValidationMessageFor(a => a.MobileNumber)
                </span>
            </div>
            <div class="form-group">
                Email
                @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
                <span class="text-danger">
                    @Html.ValidationMessageFor(a => a.Email)
                </span>
            </div>




            <div class="form-group">
                Password
                @Html.TextBoxFor(a => a.Password, new { @class = "form-control", @maxlength = "10" })
                <span class="text-danger">
                    @Html.ValidationMessageFor(a => a.Password)
                </span>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-info" value="Save" />
            </div>

        </div>
    </div>

</div>

}