@model VardaanCab.Domain.DTO.UserLoginDTO
@{
    ViewBag.Title = "Update User ";
    Layout = "~/Views/Shared/New_Master/_FinelAdminLayout.cshtml";
}

<div class="pcoded-content">

    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <div class="card bread">
                    <div class="card-body">
                        <h5>
                            Update User
                        </h5>
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#!">
                                        <i class="fa fa-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Manage User</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">
                                        Show All Users
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <!-- Heading -->
                                    <h5>Update User</h5>

                                    <!-- Import and Export Section -->
                                    <div class="d-flex align-items-center">
                                        <a href="/CorporatePackage/All?menuId=@Model.MenuId" class="btn btn-primary btn-sm">
                                            Show All
                                        </a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.HiddenFor(a => a.Id)

                                        @Html.HiddenFor(a => a.Role)
                                        @Html.HiddenFor(a => a.MenuId)
                                        @Html.HiddenFor(a => a.IsActive)

                                        if (TempData["msg"] != null)
                                        {
                                            <div class="mb-3">
                                                <div class="alert alert-success border-success">
                                                    @TempData["msg"]
                                                </div>
                                            </div>
                                        }
                                <div class="row r">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            User Name <span class="text-danger">*</span>
                                            @Html.TextBoxFor(a => a.Email, new { @class = "form-control", required = "required" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.Email)
                                            </span>
                                        </div>

                                        <div class="form-group">
                                            Phone Number <span class="text-danger">*</span>
                                            @Html.TextBoxFor(a => a.MobileNumber, new { @class = "form-control" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.MobileNumber)
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            Password <span class="text-danger">*</span>
                                            @Html.TextBoxFor(a => a.Password, new { @class = "form-control" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.Password)
                                            </span>
                                        </div>

                                    </div>
                                </div>

                                <div class="card-footer text-end">
                                    <input type="submit" class="btn btn-primary me-3" value="Save" />
                                    <a href="/AdminOperations/All" class="btn btn-outline-primary">Cancel</a>
                                </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
    </div>
</div>

