@model VardaanCab.Domain.DTO.UserLoginDTO
@{
    ViewBag.Title = "Update User ";
    Layout = "~/Views/Shared/Master/_NewAdminLayout.cshtml";
}

<style>
    .row {
        margin-top: 1% !important;
    }
</style>

@if (TempData["msg"] != null)
{
    <div class="row r">
        <div class="col-md-12">
            <div class="alert alert-info">
                @TempData["msg"]
            </div>
        </div>
    </div>
}
@using (Html.BeginForm())
{

 
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <div class="row">
                    <div class="col-sm-12">
                        <!--driver detail start-->
                        <div class="card">
                            <div class="card-header">
                                <h5>Update User</h5>
                            </div>
                            <div class="card-body">
                                @*<div class="row r">
                                    <div class="col-md-12">
                                        <a href="/AdminOperations/All" class="btn btn-info">Show all</a>
                                    </div>
                                </div>*@

                                @Html.HiddenFor(a => a.Id)

                                @Html.HiddenFor(a => a.Role)
                                @Html.HiddenFor(a => a.MenuId)
                                @Html.HiddenFor(a => a.IsActive)

                                <div class="row r">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            User Name <span class="text-danger">*</span>
                                            @Html.TextBoxFor(a => a.Email, new { @class = "form-control", required = "required" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.Email)
                                            </span>
                                        </div>

                                        <div class="form-group">
                                            Phone Number <span class="text-danger">*</span>
                                            @Html.TextBoxFor(a => a.MobileNumber, new { @class = "form-control" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.MobileNumber)
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            Password <span class="text-danger">*</span>
                                            @Html.TextBoxFor(a => a.Password, new { @class = "form-control" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.Password)
                                            </span>
                                        </div> 

                                    </div>
                                </div>

                            </div>
                            <div class="card-footer text-end">
                                <input type="submit" class="btn btn-primary me-3" value="Save" />
                                <a href="/AdminOperations/All" class="btn btn-outline-primary">Cancel</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
    

                            }
