@model VardaanCab.Domain.ViewModels.StateMasterVm
@{
    ViewBag.Title = "States";
    Layout = "~/Views/Shared/Master/_NewAdminLayout.cshtml";
    var links = new VardaanCab.Repository.CommonRepository().GetNonMenuLinks();
    int sn = Model.SrNo;
}

<style>
    #main {
        margin: auto;
        width: 70%;
    }

</style>
<style>




    thead tr,
    tfoot tr {
        background: hsl(220, 50%, 80%);
    }

    tbody tr:nth-child(even) {
        background: hsl(220, 50%, 95%);
    }

    th, td {
        border: 1px solid;
        padding: 0.5em;
        text-align: left;
        vertical-align: top;
        font-weight: normal;
    }

    .scrollable thead,
    .scrollable tfoot,
    .scrollable tbody,
    .scrollable th,
    .scrollable td {
        display: block;
        width: 100%;
    }

    .scrollable thead,
    .scrollable tfoot,
    .scrollable tbody {
        overflow-y: scroll;
    }

    .scrollable thead,
    .scrollable tfoot {
        -ms-overflow-style: none;
    }

        .scrollable thead::-webkit-scrollbar,
        .scrollable tfoot::-webkit-scrollbar {
            visibility: hidden;
        }

    .scrollable tbody {
        max-height: 20em;
        position: relative;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .scrollable tr {
        display: flex;
    }

    .scrollable tbody th,
    .scrollable tbody td {
        border-top: none;
    }

    .scrollable th:not(:last-child),
    .scrollable td:not(:last-child) {
        border-right: none;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header  card-header--2">

                    <div>
                        <h5>States</h5>
                    </div>

                  

                </div>

                <div class="card-body">

                    @*<h2>States</h2>
            <div class="row">
                <a href="/Admin/SubMenu?menuId=@ViewBag.menuId" class="btn btn-info" style="margin-left:2%">Back</a>
            </div>*@
                    @using (Html.BeginForm())
                    {
                        <input type="hidden" name="menuId" value="@ViewBag.menuId" />
                        <div class="row r">
                            <div class="col-md-4">
                                <input type="text" placeholder="Search by Name" class="form-control" name="term" />
                            </div>
                            <div class="col-md-8">
                                <input type="submit" class="btn btn-primary" value="Find" />
                                <a class="btn btn-primary" href="/State/All?menuId=@ViewBag.menuId">Show all</a>
                                @*  <a class="btn btn-info" href="/State/Add">+ Add More</a>*@
                            </div>
                        </div>
                    }


                    <div>
                        <div class="table-responsive table-desi scrollable">
                            <table class="user-table table table-striped">
                                <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Name</th>
                                        <th>State Code</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.States)
                                    {
                                        <tr>
                                            <td>@(++sn)</td>
                                            <td>@item.StateName</td>
                                            <td>@item.StateCode</td>
                                            <td>
                                                @if (links.Contains("Edit State"))
                                                {
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id, menuId = ViewBag.menuId }, new { @class = "btn btn-primary" })
                                                }
                                                @if (links.Contains("Delete State"))
                                                {
                                                    <span class="btn btn-danger" onclick="deleteRecord('/State/Delete?id=@item.Id&menuId=@ViewBag.menuId')">Delete</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    @*<div class="row r r">
                        <div class="col-md-12">
                            <ul class="pagination">
                                @for (int i = 1; i <= Model.NumberOfPages; i++)
                                {
                                    <li class="@if (i == Model.Page) {<text>active</text> }">
                                        <a href="/State/All?term=@Model.Term&page=@i&menuId=@ViewBag.menuId">@i</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>*@

                </div>
                <div class="pagination-box">
                    <nav class="ms-auto me-auto" aria-label="...">
                        <ul class="pagination pagination-primary">
                            <!-- Previous Button -->
                            <li class="page-item @(Model.Page == 1 ? "disabled" : "")">
                                <a class="page-link" href="/State/All?term=@Model.Term&page=@(Model.Page - 1)&menuId=@ViewBag.menuId" tabindex="-1">Previous</a>
                            </li>

                            <!-- Page Number Buttons -->
                            @{
                                int startPage = Math.Max(1, Model.Page - 1);
                                int endPage = Math.Min(Model.NumberOfPages, Model.Page + 1);

                                // Adjust to always show exactly 3 pages if possible
                                if (Model.Page == 1)
                                {
                                    endPage = Math.Min(3, Model.NumberOfPages);
                                }
                                else if (Model.Page == Model.NumberOfPages)
                                {
                                    startPage = Math.Max(1, Model.NumberOfPages - 2);
                                }
                            }
                            @for (int i = startPage; i <= endPage; i++)
                            {
                                <li class="page-item @(i == Model.Page ? "active" : "")">
                                    <a class="page-link" href="/State/All?term=@Model.Term&page=@i&menuId=@ViewBag.menuId">@i</a>
                                </li>
                            }

                            <!-- Next Button -->
                            <li class="page-item @(Model.Page == Model.NumberOfPages ? "disabled" : "")">
                                <a class="page-link" href="/State/All?term=@Model.Term&page=@(Model.Page + 1)&menuId=@ViewBag.menuId">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            </div>
        </div>
    </div>

                    <script src="/js/jquery2.0.3.min.js"></script>
                    <script>
                        function deleteRecord(url) {
                            if (window.confirm('do you want to delete?')) {
                                $.get(url).then(function (r) {
                                    if (r == "ok") {
                                        var loc = window.location.href;
                                        window.location.href = loc;
                                    }
                                }, function (e) {
                                    alert("Server error");
                                })
                            }
                        }
                    </script>

