@model VardaanCab.Domain.DTO.AccessAssignDTO
@{
    ViewBag.Title = "AccessAssignList";
    Layout = "~/Views/Shared/Master/_NewAdminLayout.cshtml";
    int Count = 1;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header  card-header--2">

                    <div>
                        <h5>Access Assign List</h5>
                    </div>

                </div>

                <div class="card-body">
                    @if (TempData["dltmsg"] != null)
                    {
                        <div class="row r">
                            <div class="col-md-12">
                                <div class="alert alert-success">
                                    @TempData["dltmsg"]
                                </div>
                            </div>
                        </div>
                    }

                    <div class="table-responsive table-desi">
                        <table class="datatable all-cars-table table table-striped">
                            <thead>
                                <tr>
                                    <th nowrap>Sr No.</th>
                                    <th nowrap>Employee Id</th>
                                    <th nowrap>Employee Name</th>
                                    <th nowrap>User Name</th>
                                    <th nowrap>Mobile Number</th>
                                    <th nowrap>Email Id</th>
                                    <th nowrap>User Type</th>
                                    <th nowrap>Company</th>
                                    <th>Assign Access</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.AccessAssignList != null)
                                {
                                    foreach (var item in Model.AccessAssignList)
                                    {
                                        <tr>
                                            <td nowrap>@Count</td>
                                            <td nowrap>@item.EmployeeId</td>
                                            <td nowrap>@item.EmployeeName</td>
                                            <td nowrap>@item.UserName</td>
                                            <td nowrap>@item.Mobile</td>
                                            <td nowrap>@item.Email</td>
                                            <td nowrap>@item.UserType</td>
                                            <td nowrap>@item.CompanyName</td>
                                            <td>
                                                <a href="/AdministratorETS/AssignAccess?Id=@item.Id">
                                                    Assign Access
                                                </a>
                                            </td>
                                        </tr>
                                        Count++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

