@model VardaanCab.Domain.DTO.UserRoleDTO
@using System.Web.Script.Serialization
@{
    ViewBag.Title = "CreateRole";
    Layout = "~/Views/Shared/Master/_NewAdminLayout.cshtml";
    int Count = 1;
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    .container {
        width: 90%;
        margin: 20px auto;
        background-color: #f5f5f5;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .module-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #78909c;
        color: white;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 5px;
    }

        .module-row:hover {
            background-color: #607d8b;
        }

    .sub-options {
        display: none;
        margin-top: 5px;
        background-color: #e0e0e0;
        padding: 10px;
        border-radius: 4px;
    }

    .sub-option-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }

        .sub-option-row:last-child {
            border-bottom: none;
        }

        .sub-option-row span {
            flex: 2;
            font-size: 14px;
        }

    .actions {
        flex: 1;
        display: flex;
        justify-content: space-evenly;
    }

        .actions button {
            border: none;
            border-radius: 4px;
            padding: 5px 10px;
            cursor: pointer;
            color: white;
            font-size: 14px;
        }

    .read-btn {
        background-color: #1e88e5;
    }

    .write-btn {
        background-color: #43a047;
    }

        .read-btn:hover, .write-btn:hover {
            opacity: 0.9;
        }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header  card-header--2">
                            <div>
                                <h5>@ViewBag.Heading</h5>
                            </div>
                        </div>
                        <form class="theme-form mega-form" action="CreateRole" method="post" enctype="multipart/form-data">
                            <div class="card-body">
                                <input name="MenuId" type="hidden" value="@ViewBag.menuId" />
                                <input name="Id" type="hidden" value="@Model.Id" />
                                @if (TempData["msg"] != null)
                                {
                                    <div class="mb-3">
                                        <div class="alert alert-success">
                                            @TempData["msg"]
                                        </div>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="form-label-title">Select Company</label>
                                                @Html.DropDownListFor(a => a.CompanyId, Model.Companies, "--Select Company--", new { @class = "form-control", required = "required" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.CompanyId)
                                                </span>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-label-title">Role Name</label>
                                                @Html.TextBoxFor(a => a.RoleName, new { @class = "form-control", placeholder = "Role Name", required = "required" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.RoleName)
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <span style="color: #365977; font-size: 13px; font-weight: 700;">
                                            <span>Access Type :</span>
                                            <span style="color: #547171" class="ng-binding">New</span>
                                        </span>
                                        <div class="form-group-profile pull-right">

                                            <input type="checkbox" name="IsAllRead" value="true" id="fancy-checkbox-primary" autocomplete="off" class="ng-valid ng-dirty Activechecked" onclick="checkAllReadCheckboxes(this)">
                                            <div class="btn-group">
                                                <label for="fancy-checkbox-primary" style="padding: 0px 1px; font-size: 13px; margin-top: 2px;" class="btn btn-primary btn-xs">

                                                </label>
                                                <label for="fancy-checkbox-primary" style="padding: 0px 1px; font-size: 13px; margin-top: 2px;" class="btn btn-default active">
                                                    <i class="icon-book"></i> Read All
                                                </label>
                                            </div>
                                            <input type="checkbox" name="IsAllWrite" value="true" id="fancy-checkbox-success" autocomplete="off" class="ng-pristine ng-valid Activechecked" onclick="checkAllWriteCheckboxes(this)">
                                            <div class="btn-group">
                                                <label for="fancy-checkbox-success" style="padding: 0px 1px; font-size: 13px; margin-top: 2px;" class="btn btn-success">

                                                </label>
                                                <label for="fancy-checkbox-success" style="padding: 0px 1px; font-size: 13px; margin-top: 2px;" class="btn btn-default active">
                                                    <i class="icon-edit"></i> Write All
                                                </label>
                                            </div>
                                        </div>
                                        <br>
                                        <hr>


                                        @if (Model != null && Model.SoftwareLinkDTO.Count() > 0)
                                        {
                                            int count = 0;
                                            foreach (var item in Model.SoftwareLinkDTO)
                                            {
                                                count++;
                                                <div class="module-row" onclick="toggleSection('live-tracking_@count')">

                                                    <span>@item.Title</span>
                                                    <div class="actions" style="margin-left:430px;">
                                                        <label>
                                                            <input name="IsReadChecked[]" type="checkbox" value="@item.Id" class="main-read-checkbox" onclick="toggleSubOptionCheckboxes('read', this); event.stopPropagation();" />
                                                            @*<input type="checkbox" value="@item.Id" class="main-read-checkbox" onclick="toggleSubOptionCheckboxes('read', this); event.stopPropagation();" />*@
                                                            <i class="icon-book" style="color: #245d90;"></i> Read
                                                        </label>
                                                        <label>
                                                            <input name="IsWriteChecked[]" type="checkbox" value="@item.Id" class="main-write-checkbox" onclick="toggleSubOptionCheckboxes('write', this); event.stopPropagation();" />
                                                            @*<input type="checkbox" value="@item.Id" class="main-write-checkbox" onclick="toggleSubOptionCheckboxes('write', this); event.stopPropagation();" />*@
                                                            <i class="icon-edit" style="color:#188a18"></i> Write
                                                        </label>
                                                    </div>
                                                </div>
                                                if (item.ChildMenus != null && item.ChildMenus.Count() > 0)
                                                {
                                                    <div class="sub-options" id="live-tracking_@count" style="display: none;">
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                @foreach (var menu in item.ChildMenus)
                                                                {
                                                                    <div class="col-md-6">
                                                                        <div class="sub-option-row">
                                                                            <span>@menu.Title</span>

                                                                            <div class="actions">
                                                                                <label>
                                                                                    <input name="IsSubReadChecked[]" type="checkbox" class="read-checkbox" value="@menu.Id" onclick="toggleParentReadCheckboxFromChild(this);" />
                                                                                    @*<input type="checkbox" value="@menu.Id" class="read-checkbox" />*@
                                                                                    Read
                                                                                </label>
                                                                                <label>
                                                                                    <input name="IsSubWriteChecked[]" type="checkbox" value="@menu.Id" class="write-checkbox" onclick="syncReadCheckbox(this);" />
                                                                                    @*<input type="checkbox" value="@menu.Id" class="write-checkbox" onclick="syncReadCheckbox(this);" />*@
                                                                                    Write
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                <button type="submit" class="btn btn-primary">@ViewBag.BtnTXT</button>
                                <button type="reset" class="btn btn-outline-primary">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header  card-header--2">

                    <div>
                        <h5>List</h5>
                    </div>

                </div>

                <div class="card-body">
                    @if (TempData["dltmsg"] != null)
                    {
                        <div class="row r">
                            <div class="col-md-12">
                                <div class="alert alert-success">
                                    @TempData["dltmsg"]
                                </div>
                            </div>
                        </div>
                    }
                    
                        <div class="table-responsive table-desi">
                            <table class="datatable all-cars-table table table-striped">
                                <thead>
                                    <tr>
                                        <th nowrap>Sr No.</th>
                                        <th nowrap>Company Name (Org Name)</th>
                                        <th nowrap>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.UserRoleLists != null)
                                    {
                                        foreach (var item in Model.UserRoleLists)
                                        {
                                            <tr>
                                                <td nowrap>@Count</td>
                                                <td nowrap>@item.CompanyName (@item.OrgName)</td>
                                                <td nowrap>@item.RoleName</td>
                                                <td>
                                                    <a href="/AdministratorETS/CreateRole?Id=@item.Id">
                                                        <i class="fa fa-pencil-square-o"
                                                           aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/AdministratorETS/DeleteUserRole?Id=@item.Id" onclick="return confirm('Are you sure want to delete?')">
                                                        <i class="fa fa-trash-o"
                                                           aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            Count++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                     
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Toggle the parent "Read" checkbox based on child "Read" checkboxes
    function toggleParentReadCheckboxFromChild(childReadCheckbox) {
        const parentSection = childReadCheckbox.closest('.sub-options');
        if (parentSection) {
            const parentId = parentSection.id.replace('live-tracking_', '');
            const parentReadCheckbox = document.querySelector(`.main-read-checkbox[value="${parentId}"]`);

            if (parentReadCheckbox) {
                const allChildReadCheckboxes = parentSection.querySelectorAll('.read-checkbox');
                const anyChecked = [...allChildReadCheckboxes].some(checkbox => checkbox.checked);
                const allUnchecked = [...allChildReadCheckboxes].every(checkbox => !checkbox.checked);

                parentReadCheckbox.checked = anyChecked; // Check parent if any child is checked
                parentReadCheckbox.indeterminate = anyChecked && !allUnchecked; // Indeterminate if mixed states
            }
        }
    }

    // Synchronize the "Read" checkbox state with the "Write" checkbox
    function syncReadCheckbox(writeCheckbox) {
        const readCheckbox = writeCheckbox.closest('.sub-option-row')?.querySelector('.read-checkbox');

        if (readCheckbox && writeCheckbox.checked) {
            readCheckbox.checked = true; // Automatically check "Read" if "Write" is checked
        }

        // Update parent "Read" and "Write" checkboxes based on child states
        const parentSection = writeCheckbox.closest('.sub-options');
        if (parentSection) {
            const parentId = parentSection.id.replace('live-tracking_', '');
            const parentReadCheckbox = document.querySelector(`.main-read-checkbox[value="${parentId}"]`);
            const parentWriteCheckbox = document.querySelector(`.main-write-checkbox[value="${parentId}"]`);

            if (parentReadCheckbox || parentWriteCheckbox) {
                const allWriteCheckboxes = parentSection.querySelectorAll('.write-checkbox');
                const anyWriteChecked = [...allWriteCheckboxes].some(checkbox => checkbox.checked);

                if (parentWriteCheckbox) parentWriteCheckbox.checked = anyWriteChecked;
                if (parentReadCheckbox) parentReadCheckbox.checked = anyWriteChecked;
            }
        }
    }

    // Toggle all child checkboxes when the main checkbox is toggled
    function toggleSubOptionCheckboxes(type, mainCheckbox) {
        const subCheckboxes = mainCheckbox
            .closest('.module-row')
            ?.nextElementSibling.querySelectorAll(`.${type}-checkbox`);
        subCheckboxes?.forEach(checkbox => {
            checkbox.checked = mainCheckbox.checked;

            // If it's a "write" checkbox, sync "Read" checkbox too
            if (type === 'write') {
                const readCheckbox = checkbox.closest('.sub-option-row')?.querySelector('.read-checkbox');
                if (readCheckbox) {
                    readCheckbox.checked = mainCheckbox.checked; // Sync "Read" with "Write"
                }
            }
        });
    }

    // Toggle visibility of sections, ensuring only one section is visible at a time
    function toggleSection(sectionId) {
        const allSections = document.querySelectorAll('.sub-options');
        allSections.forEach(section => {
            section.style.display = section.id === sectionId ?
                (section.style.display === 'none' ? 'block' : 'none') :
                'none';
        });
    }

    // Check or uncheck all "Read" checkboxes when "Read All" is toggled
    function checkAllReadCheckboxes(mainCheckbox) {
        const allReadCheckboxes = document.querySelectorAll('.read-checkbox, .main-read-checkbox');
        allReadCheckboxes.forEach(checkbox => {
            checkbox.checked = mainCheckbox.checked;
        });
    }

    // Check or uncheck all "Write" checkboxes and sync with "Read" checkboxes
    function checkAllWriteCheckboxes(mainCheckbox) {
        const allWriteCheckboxes = document.querySelectorAll('.write-checkbox, .main-write-checkbox');
        const allReadCheckboxes = document.querySelectorAll('.read-checkbox, .main-read-checkbox');

        allWriteCheckboxes.forEach(checkbox => {
            checkbox.checked = mainCheckbox.checked;
        });

        allReadCheckboxes.forEach(checkbox => {
            checkbox.checked = mainCheckbox.checked; // Sync "Read" with "Write All"
        });

        // Sync the state of the "Read All" checkbox
        const readAllCheckbox = document.getElementById('fancy-checkbox-primary');
        if (readAllCheckbox) {
            readAllCheckbox.checked = mainCheckbox.checked;
        }
    }

</script>

<script>
    // Pass arrays from Razor model to JavaScript
    const isReadChecked = @Html.Raw(new JavaScriptSerializer().Serialize(Model.IsReadChecked ?? new int[0]));
    const isWriteChecked = @Html.Raw(new JavaScriptSerializer().Serialize(Model.IsWriteChecked ?? new int[0]));
    const isSubReadChecked = @Html.Raw(new JavaScriptSerializer().Serialize(Model.IsSubReadChecked ?? new int[0]));
    const isSubWriteChecked = @Html.Raw(new JavaScriptSerializer().Serialize(Model.IsSubWriteChecked ?? new int[0]));

    document.addEventListener("DOMContentLoaded", function () {
        // Function to check checkboxes by class name and array of values
        function checkCheckboxes(array, className) {
            array.forEach(function (value) {
                // Find checkbox with the specific class and value
                const checkbox = document.querySelector(`input.${className}[value="${value}"]`);
                if (checkbox) {
                    checkbox.checked = true; // Check the checkbox if it exists
                }
            });
        }

        // Check parent-level read and write checkboxes
        checkCheckboxes(isReadChecked, "main-read-checkbox");
        checkCheckboxes(isWriteChecked, "main-write-checkbox");

        // Check sub-level read and write checkboxes
        checkCheckboxes(isSubReadChecked, "read-checkbox");
        checkCheckboxes(isSubWriteChecked, "write-checkbox");
    });
</script>
<script>

    if ('@ViewBag.IsAllRead' == 'True') {
        document.addEventListener("DOMContentLoaded", function (event) {
            $('.Activechecked').attr('checked', true);
        });
    }
    else {
        document.addEventListener("DOMContentLoaded", function (event) {
            $('.Activechecked').attr('checked', false);
        });
    }

    if ('@ViewBag.IsAllWrite' == 'True') {
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.Activechecked').attr('checked', true);
    });
}
else {
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.Activechecked').attr('checked', false);
    });
}
</script>