@model VardaanCab.Domain.DTO.VehicleModelDTO
@{
    ViewBag.Title = "Update Cab Categories";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<style>
    .row {
        margin-top: 1% !important;
    }
</style>


@using (Html.BeginForm())
{
    <div style="width:50%">

        <div class="row r">
            <div class="col-md-12">
                <a class="btn btn-info" href="/VehicleModel/All?menuId=@Model.MenuId">Show all</a>
            </div>
        </div>

        <div class="row r">
            <div class="col-md-12">
                <h2>Update Vehicle Model</h2>
            </div>
        </div>

        @if (TempData["msg"] != null)
        {
            <div class="row r">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        @TempData["msg"]
                    </div>
                </div>
            </div>
        }
        @Html.HiddenFor(a => a.Id)
        @Html.HiddenFor(a=>a.MenuId)
        <div class="row r">
            <div class="col-md-12">
                <div class="form-group">
                    Manufacture Name *
                    @Html.TextBoxFor(a => a.ManufactureName, new { @class = "form-control", required = "required" })
                    <span class="text-danger">
                        @Html.ValidationMessageFor(a => a.ManufactureName)
                    </span>
                </div>
                <div class="form-group">
                    Model Name *
                    @Html.TextBoxFor(a => a.ModelName, new { @class = "form-control", required = "required" })
                    <span class="text-danger">
                        @Html.ValidationMessageFor(a => a.ModelName)
                    </span>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Save" />
                </div>

            </div>
        </div>

    </div>

}