@model VardaanCab.Domain.DTO.DepartmentMasterDTO
@{
    ViewBag.Title = "Departments";
    Layout = "~/Views/Shared/Master/_NewAdminLayout.cshtml";
    int Count = 1;
}

<div class="container-fluid">
    <div class="row">

        <div class="col-12">
            <div class="row">
                <div class="col-sm-12">
                    <!--Hotel detail start-->
                    <div class="card">
                        <div class="card-header">
                            <h5>@ViewBag.Heading</h5>
                        </div>
                        <form class="theme-form mega-form" action="Departments" method="post" enctype="multipart/form-data">
                            <div class="card-body">
                                <input name="MenuId" type="hidden" value="@ViewBag.menuId" />
                                <input name="Id" type="hidden" value="@Model.Id" />
                                @if (TempData["msg"] != null)
                                {
                                    <div class="mb-3">
                                        <div class="alert alert-info">
                                            @TempData["msg"]
                                        </div>
                                    </div>
                                }
                                <div class="mb-3">
                                    <div class="col-6">
                                        <label for="hotel-category" class="form-label-title ">
                                            Company<span class="text-danger">*</span>
                                        </label>
                                        @Html.DropDownListFor(a => a.CompanyId, Model.Companies, "--Select Company--", new { @class = "form-control", @required = "" })
                                        <span class="text-danger">
                                            @Html.ValidationMessageFor(a => a.CompanyId)
                                        </span>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-6">
                                        <label class="form-label-title ">Department Name<span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(a => a.DepartmentName, new { @class = "form-control", placeholder = "Department Name", @required = "" })
                                    <span class="text-danger">
                                        @Html.ValidationMessageFor(a => a.DepartmentName)
                                    </span>
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer text-end">
                                <button type="submit" class="btn btn-primary me-3">@ViewBag.BtnTXT</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Get Department List-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header  card-header--2">

                    <div>
                        <h5>Department List</h5>
                    </div>
                </div>

                <div class="card-body">
                    @if (TempData["dltmsg"] != null)
                    {
                        <div class="row r">
                            <div class="col-md-12">
                                <div class="alert alert-success">
                                    @TempData["dltmsg"]
                                </div>
                            </div>
                        </div>
                    }
                    <div>
                        <div class="table-responsive table-desi">
                            <table class="all-cars-table table table-striped">
                                <thead>
                                    <tr>
                                        <th nowrap>Sr No.</th>
                                        <th>Company Name</th>
                                        <th>Department Name</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.DepartmentMasterList != null)
                                    {
                                        foreach (var item in Model.DepartmentMasterList)
                                        {
                                            <tr>
                                                <td nowrap>@Count</td>
                                                <td>@item.CompanyName</td>
                                                <td>@item.DepartmentName</td>
                                                <td>
                                                    <a href="/DepartmentETS/Departments?Id=@item.Id">
                                                        <i class="fa fa-pencil-square-o"
                                                           aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/DepartmentETS/DeleteDepartment?Id=@item.Id" onclick="return confirm('Are you sure want to delete?')">
                                                        <i class="fa fa-trash-o"
                                                           aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            Count++;
                                        }
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>

