@model VardaanCab.Domain.DTO.EscortDTO
@{
    ViewBag.Title = "Escort";
    Layout = "~/Views/Shared/Master/_NewAdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header  card-header--2">
                            <div>
                                <h5>@ViewBag.Heading</h5>
                            </div>
                            <form class="d-inline-flex">
                                <a href="/EscortETS/EscortsList" class="btn btn-primary">Show all</a>

                            </form>
                        </div>
                        <form class="theme-form mega-form" action="Escort" method="post" enctype="multipart/form-data" id="escortForm">
                            <div class="card-body">
                                <input name="MenuId" type="hidden" value="@ViewBag.menuId" />
                                <input name="Id" type="hidden" value="@Model.Id" />
                                @if (TempData["msg"] != null)
                                {
                                    <div class="mb-3">
                                        <div class="alert alert-success">
                                            @TempData["msg"]
                                        </div>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="form-label-title">Escort's Name</label>
                                                @Html.TextBoxFor(a => a.EscortName, new { @class = "form-control", id = "escortName", placeholder = "Escort's Name", required = "required" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.EscortName)
                                            </span>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label-title">Escort's Father Name</label>
                                                @Html.TextBoxFor(a => a.EscortFatheName, new { @class = "form-control", placeholder = "Escort's Father Name", required = "required" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.EscortFatheName)
                                            </span>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label-title">Escort's Mobile Number</label>
                                                @Html.TextBoxFor(a => a.EscortMobileNumber, new { @class = "form-control", placeholder = "Escort's Mobile Number", maxlength = "10", onkeydown = "validateNumericInput(event)", required = "required" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.EscortMobileNumber)
                                            </span>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label-title">Escort's Aadhaar Number</label>
                                                @Html.TextBoxFor(a => a.EscortAadhaarNumber, new { @class = "form-control", placeholder = "Escort's Aadhaar Number", maxlength = "12", onkeydown = "validateNumericInput(event)", required = "required" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.EscortAadhaarNumber)
                                            </span>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label-title">Select Vendor</label>
                                                @Html.DropDownListFor(a => a.VendorId, Model.Vendors, "--Select Vendor--", new { @class = "form-control", required = "required" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.VendorId)
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label-title">Date of Birth</label>
                                                @Html.TextBoxFor(m => m.DOB, "{0:yyyy-MM-dd}", new { @class = "form-control", required = "required", placeholder = "Enter Date of Joining", type = "Date", max = DateTime.Now.ToString("yyyy-MM-dd") })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.DOB)
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label-title">Escort's Employee Id</label>
                                                @Html.TextBoxFor(a => a.EscortEmployeeId, new { @class = "form-control", placeholder = "Escort's Employee Id", required = "required" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.EscortEmployeeId)
                                            </span>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label-title">PIN Code</label>
                                                @Html.TextBoxFor(a => a.Pincode, new { @class = "form-control", placeholder = "PIN Code", maxlength = "6", onkeydown = "validateNumericInput(event)", required = "required" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.Pincode)
                                            </span>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label-title">Select Company</label>
                                                @Html.DropDownListFor(a => a.CompanyId, Model.Companies, "--Select Company--", new { @class = "form-control", required = "required" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.CompanyId)
                                                </span>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label-title">Permanent Address</label>
                                                @Html.TextAreaFor(a => a.PermanentAddress, new { @class = "form-control", placeholder = "Permanent Address", required = "required" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.PermanentAddress)
                                            </span>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label-title">Escort's Address</label>
                                                @Html.TextAreaFor(a => a.EscortAddress, new { @class = "form-control", placeholder = "Escort's Address", required = "required" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.EscortAddress)
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                <button type="submit" class="btn btn-primary">@ViewBag.BtnTXT</button>
                                <button type="reset" class="btn btn-outline-primary">Reset</button>
                            </div>
                        </form>



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function validateNumericInput(event) {
        if ([46, 8, 9, 27, 13].indexOf(event.keyCode) !== -1 ||
            (event.keyCode == 65 && event.ctrlKey === true) ||
            (event.keyCode >= 35 && event.keyCode <= 39)) {
            return;
        }
        if ((event.shiftKey || (event.keyCode < 48 || event.keyCode > 57)) && (event.keyCode < 96 || event.keyCode > 105)) {
            event.preventDefault();
        }
    }

</script>
@*<script> 

    function validateNumericInput(event) {
        const keyCode = event.keyCode || event.which;
        if (keyCode < 48 || keyCode > 57) {
            event.preventDefault();
        }
    }
</script>*@