@model VardaanCab.Domain.DTO.CompanyZoneDTO
@{
    ViewBag.Title = "AllCompanyZones";
    Layout = "~/Views/Shared/Master/_NewAdminLayout.cshtml";
    int Count = 1;
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header  card-header--2">

                    <div>
                        <h5>All Company Zones</h5>
                    </div>
                    <form class="d-inline-flex">
                        <a href="/CompanyZoneETS/AddCompanyZone?menuId=@ViewBag.menuId" class="btn btn-theme">
                            <i data-feather="plus-square"></i>Add New
                        </a>
                    </form>
                </div>

                <div class="card-body">
                    @if (TempData["dltmsg"] != null)
                    {
                        <div class="row r">
                            <div class="col-md-12">
                                <div class="alert alert-success">
                                    @TempData["dltmsg"]
                                </div>
                            </div>
                        </div>
                    }
                    <div>
                        <div class="table-responsive table-desi">
                            <table class="datatable user-table all-driver-table table table-striped">
                                <thead>
                                    <tr>
                                        <th nowrap>Sr No.</th>
                                        <th nowrap>Company Zone</th>
                                        <th nowrap>Company Name</th>
                                        <th nowrap>Created Date</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CompanyZoneLists)
                                    {
                                        <tr>
                                            <td nowrap>@Count</td>
                                            <td>@item.CompanyZone</td>
                                            <td>@item.CompanyName</td>
                                            <td>@item.CreatedDate</td>
                                            <td>
                                                <a href="/CompanyZoneETS/AddCompanyZone?Id=@item.Id">
                                                    <i class="fa fa-pencil-square-o"
                                                       aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/CompanyZoneETS/DeleteCompanyZone?Id=@item.Id" onclick="return confirm('Are you sure want to delete?')">
                                                    <i class="fa fa-trash-o"
                                                       aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        Count++;
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> 
                 
            </div>
        </div>

    </div>
</div>


