@model VardaanCab.Domain.DTO.VehicleInspectionDTO
@{
    ViewBag.Title = "VehicleInspectionDetail";
    Layout = "~/Views/Shared/New_Master/_FinelAdminLayout.cshtml";
}
<style>
    .calenderMainDiv {
        text-align: center;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        /* min-width: 265px; */
        background-color: #e0e0e0;
        border-radius: :0px;
        border: 0px;
        color: balck;
        z-index: 999;
    }
</style>
<div class="pcoded-content">

    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <div class="card bread">
                    <div class="card-body">
                        <h5>Vehicle Inspection Detail</h5>
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#!">
                                        <i class="fa fa-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">ETS</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Vehicle Inspection Detail</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <!-- Heading -->
                                    <h5>Vehicle Inspection Detail</h5>

                                    <!-- Import and Export Section -->

                                </div>
                                <div class="card-block">
                                    @using (Html.BeginForm())
                                    {
                                        if (TempData["msg"] != null)
                                        {
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="alert alert-success border-success">
                                                        @TempData["msg"]
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="col-md-2">
                                                @Html.DropDownListFor(a => a.Vendor_Id, Model.Companies, "Select Company", new { @class = "form-control", required = "required", id = "vendorDropdown" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.Vendor_Id)
                                                </span>
                                            </div>

                                            <div class="col-md-2">
                                                @Html.HiddenFor(a => a.Vehicle_Id, new { id = "vehicle_Id" })
                                                @Html.TextBox("vehicleNumber", null, new { @class = "form-control", id = "vehicleNumber", disabled = "disabled" })
                                            </div>

                                            <div class="col-md-2">
                                                <select class="form-control">
                                                    <option value="View">View</option>
                                                    <option value="CSV">CSV</option>
                                                </select>
                                            </div>
                                           
                                            <div class="floatLeft col-sm-3">
                                                <div class="calenderMainDiv">
                                                    <span>
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                    <span class="ng-binding">February 13, 2025 - February 14, 2025</span>
                                                </div>
                                                <div class="popover" style="top: 38.5625px; left: 341.242px; display: block;">
                                                    <div class="arrow"></div>
                                                    <div class="popover-inner">
                                                        <h3 class="popover-title">Get Report</h3>
                                                        <div class="popover-content">
                                                            <div class="calenderReportPopoverTemp container-fluid">
                                                                <div class="row marginRow mainDiv">
                                                                    <div class="dateRangeDiv">
                                                                        <ul class="dateRange">
                                                                            <li class="pointer todayReport reportDateList">Today</li>
                                                                            <li class="pointer yesturdayReport reportDateList">Yesterday</li>
                                                                            <li class="pointer last7Report reportDateList">Last 7 Days</li>
                                                                            <li class="pointer last30Report reportDateList">Last 30 Days</li>
                                                                            <li class="pointer thisMonth reportDateList">This Month</li>
                                                                            <li class="pointer customRange reportDateList">Custom Range</li>
                                                                            <li class="customDateDiv">
                                                                                <form class="row" name="calender">
                                                                                    <div class="col-md-12 col-xs-12 customInput1">
                                                                                        <span>From</span><br>
                                                                                        <div class="input-group calendarInput calendarInput2">
                                                                                            <input type="text" id="from" class="form-control" name="fromDate" placeholder="">
                                                                                            <span class="input-group-btn">
                                                                                                <button class="btn btn-default">
                                                                                                    <i class="icon-calendar calInputIcon"></i>
                                                                                                </button>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-12 col-xs-12 customInput2">
                                                                                        <span>To</span><br>
                                                                                        <div class="input-group calendarInput calendarInput2">
                                                                                            <input type="text" id="toDate" class="form-control" name="toDate" placeholder="">
                                                                                            <span class="input-group-btn">
                                                                                                <button class="btn btn-default">
                                                                                                    <i class="icon-calendar calInputIcon"></i>
                                                                                                </button>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <input class="col-md-12 col-xs-12 btn btn-success btn-xs showCustomReportButton" type="button" value="Show Report" disabled="disabled">
                                                                                    <input class="col-md-12 col-xs-12 btn btn-warning btn-xs showCustomReportButton" type="button" value="In-valid Date Range">
                                                                                </form>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="col-md-4">
                                                    <input type="text" class="form-control" id="calendarInput">
                                                </div>*@
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        $("#vehicleNumber").autocomplete({
            source: function (request, response) {
                var vendorId = $("#vendorDropdown").val(); // Get selected Vendor ID
                if (!vendorId) {
                    response([{ label: 'Please select a vendor first', value: '' }]);
                    return;
                }

                $.ajax({
                    url: '/ETS/GetVehicleNumbers',
                    data: { term: request.term, vendorId: vendorId },
                    type: 'GET',
                    success: function (data) {
                        if (!data.length) {
                            response([{ label: 'No data found', value: '' }]);
                        } else {
                            response($.map(data, function (item) {
                                return {
                                    label: item.VehicleNumber,
                                    value: item.Id
                                };
                            }));
                        }
                    }
                });
            },
            select: function (event, ui) {
                $('#vehicle_Id').val(ui.item.value);
                $('#vehicleNumber').val(ui.item.label);
                return false;
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Enable vehicle number input when a vendor is selected
        $("#vendorDropdown").change(function () {
            if ($(this).val()) {
                $("#vehicleNumber").prop("disabled", false);
            } else {
                $("#vehicleNumber").prop("disabled", true);
            }
        });


    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".popover").hide();
        $(".calenderMainDiv").click(function () {
            $(".popover").toggle();
        })
    });
</script>