@model VardaanCab.Domain.DTO.RentalTypeDTO
@{
    ViewBag.Title = "Add Rental Types";
    Layout = "~/Views/Shared/New_Master/_FinelAdminLayout.cshtml";
}

<div class="pcoded-content">

    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <div class="card bread">
                    <div class="card-body">
                        <h5>Add Rental Types</h5>
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#!">
                                        <i class="fa fa-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Master Enteries</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Add Rental Types</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <!-- Heading -->
                                    <h5>Add Rental Types</h5>


                                    <div class="d-flex align-items-center">
                                        <a href="/RentalType/All" class="btn btn-primary btn-sm">
                                            Show All
                                        </a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    @using (Html.BeginForm())
                                    {
                                        <input type="hidden" name="MenuId" value="@ViewBag.menuId" />

                                        if (TempData["msg"] != null)
                                        {
                                            <div class="mb-3">
                                                <div class="alert alert-success border-success">
                                                    @TempData["msg"]
                                                </div>
                                            </div>
                                        }

                                <div class="row r">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            Rental Name <span class="text-danger">*</span>
                                            @Html.TextBoxFor(a => a.RentalTypeName, new { @class = "form-control", required = "required" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.RentalTypeName)
                                            </span>
                                        </div>

                                        <div class="form-group">
                                            Package Type <span class="text-danger">*</span>
                                            @Html.DropDownListFor(a => a.PackageType_Id, Model.PackageTypes, "Select Packages", new { @class = "form-control", required = "required" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.PackageType_Id)
                                            </span>
                                        </div>

                                    </div>
                                </div>
                                        <div class="card-footer text-end">
                                            <input type="submit" class="btn btn-primary" value="Save" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
    </div>
</div>

 
