@model VardaanCab.Models.ViewModels.ViewDriverLeaveDetail
@{
    ViewBag.Title = "Driver Leave Detail";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var links = new VardaanCab.Repository.CommonRepository().GetNonMenuLinks();
    int sn = Model.SrNo;
}
<link href="/css/fixtable.css" rel="stylesheet" />
<style>
    #main {
        margin: auto;
        width: 100%;
    }
</style>

<div id="main">
    <h2>Driver Leave Detail</h2>
    <div class="row">
        <a href="/Admin/SubMenu?menuId=@ViewBag.menuId" class="btn btn-info" style="margin-left:2%">Back</a>

    </div>
    @using (Html.BeginForm())
    {
        <input type="hidden" name="menuId" value="@ViewBag.menuId" />
        <div class="row r">
            <div class="col-md-6">
                <input type="text" placeholder="Search by Name/Mobile" class="form-control" name="term" />
            </div>
            <div class="col-md-4">
                <input type="submit" class="btn btn-info" value="Find" />
                <a class="btn btn-info" href="/DriverLeave/DriverLeaves?menuId=@ViewBag.menuId">Show all</a>
                <a class="btn btn-info" href="/DriverLeave/AssignLeave?menuId=@ViewBag.menuId">+ Add More</a>
            </div>
        </div>
    }


    <div class="mainDiv">
        <div class="wrapperTable table-scroll" >
            <table class="table">
                <thead>
                    <tr>
                        <th class="sticky-col first-col">S.No.</th>
                        <th class="sticky-col second-col">Driver</th>
                        <th class="sticky-col third-col">Mobile</th>
                        <th>Leave Detail</th>
                        <th>Leave Description</th>
                        <th>Leave Generation Date</th>
                        <th>Assigned By</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DriverLeaves)
                    {
                        <tr>
                            <td class="sticky-col first-col">@(++sn)</td>
                            <td class="sticky-col second-col">@item.DriverName</td>
                            <td class="sticky-col third-col">@item.Mobile</td>
                            <td>From @item.DateFrom.ToString("dd-MMM-yyyy")
                               to @item.DateTo.ToString("dd-MMM-yyyy")
                            </td>
                            <td>@item.Description</td>
                            <td>@item.CreateDate.ToString("dd-MMM-yyyy")</td>
                            <td>@item.UpdatedBy</td>
                           
                        <td>
                            @if (links.Contains("Edit Leave Detail"))
                            {
                                <a href="/DriverLeave/Edit?id=@item.Id&menuId=@ViewBag.menuId" class="btn btn-info">Edit</a>
                            }
                            @*  @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })*@
                            @*<span class="btn btn-danger" onclick="deleteRecord('/Vendor/Delete?id=@item.Id')">Delete</span>*@
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row r r">
        <div class="col-md-12">
            <ul class="pagination">
                @for (int i = 1; i <= Model.NumberOfPages; i++)
                {
                    <li class="@if (i == Model.Page) {<text>active</text> }">
                        <a href="/DriverLeave/DriverLeaves?term=@Model.Term&page=@i&menuId=@ViewBag.menuId">@i</a>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>

<script src="/js/jquery2.0.3.min.js"></script>
<script>
    function deleteRecord(url)
    {
        if(window.confirm('do you want to delete?'))
        {
            $.get(url).then(function (r) {
                if (r == "ok") {
                    var loc = window.location.href;
                    window.location.href = loc;
                }
            }, function (e) {
                alert("Server error");
            })
        }
    }
</script>

