@model VardaanCab.Domain.DTO.DriverDTO
@{
    ViewBag.Title = "Update Driver";
    Layout = "~/Views/Shared/New_Master/_FinelAdminLayout.cshtml";
}


<div class="pcoded-content" id="pcoded-content">
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <div class="card bread">
                    <div class="card-body">
                        <h5>Edit Driver</h5>
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#!">
                                        <i class="fa fa-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Registration</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Show Drivers</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <!-- Heading -->
                                    <h5>Edit Driver</h5>

                                    <!-- Import and Export Section -->
                                    <div class="d-flex align-items-center">
                                        <!-- Export Section -->
                                        <a href="/Driver/All?menuId=@Model.MenuId" class="btn btn-primary btn-sm">
                                            Show All
                                        </a>
                                    </div>
                                </div>

                                <div class="card-block">
                                    @using (Html.BeginForm("Edit", "Driver", FormMethod.Post, new { encType = "multipart/form-data" }))
                                    {
                                        if (TempData["msg"] != null)
                                        {
                                            <div class="row r">
                                                <div class="col-md-12">
                                                    <div class="alert alert-success border-success">
                                                        @TempData["msg"]
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        @Html.HiddenFor(a => a.Id)
                                        @Html.HiddenFor(a => a.DriverImage)
                                        @Html.HiddenFor(a => a.AadharImage)
                                        @Html.HiddenFor(a => a.DlImage)
                                        @Html.HiddenFor(a => a.CreateDate)

                                        @Html.HiddenFor(a => a.IsActive)
                                        @Html.HiddenFor(a => a.PolVerifImg)
                                        @Html.HiddenFor(a => a.PanImage)
                                        @Html.HiddenFor(a => a.MenuId)


                                        <div class="row r">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        Vendor
                                                        @Html.HiddenFor(a => a.Vendor_Id)
                                                        @Html.TextBox("vendorName", null, new { @class = "form-control" })
                                                        <span class="text-danger">
                                                            @Html.ValidationMessageFor(a => a.Vendor_Id)
                                                        </span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        Driver Name <span class="text-danger">*</span>
                                                        @Html.TextBoxFor(a => a.DriverName, new { @class = "form-control", @style = "text-transform:uppercase" })
                                                        <span class="text-danger">
                                                            @Html.ValidationMessageFor(a => a.DriverName)
                                                        </span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        Father Name
                                                        @Html.TextBoxFor(a => a.FatherName, new { @class = "form-control" })
                                                        <span class="text-danger">
                                                            @Html.ValidationMessageFor(a => a.FatherName)
                                                        </span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        Email
                                                        @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
                                                        <span class="text-danger">
                                                            @Html.ValidationMessageFor(a => a.Email)
                                                        </span>
                                                    </div>
                                                    <div class="col-md-6">
                                                        Contact No.
                                                        @Html.TextBoxFor(a => a.MobileNumber, new { @class = "form-control", @maxlength = "10" })
                                                        <span class="text-danger">
                                                            @Html.ValidationMessageFor(a => a.MobileNumber)
                                                        </span>
                                                    </div>

                                                    <div class="col-md-6">
                                                        Alternate Contact No. 1
                                                        @Html.TextBoxFor(a => a.AlternateNo1, new { @class = "form-control" })
                                                        <span class="text-danger">
                                                            @Html.ValidationMessageFor(a => a.AlternateNo1)
                                                        </span>
                                                    </div>

                                                    <div class="col-md-6">
                                                        Alternate Contact No. 2
                                                        @Html.TextBoxFor(a => a.AlternateNo2, new { @class = "form-control" })
                                                        <span class="text-danger">
                                                            @Html.ValidationMessageFor(a => a.AlternateNo2)
                                                        </span>
                                                    </div>

                                                    <div class="col-md-6">
                                                        Local Address
                                                        @Html.TextAreaFor(a => a.LocalAddress, new { @class = "form-control" })
                                                        <span class="text-danger">
                                                            @Html.ValidationMessageFor(a => a.LocalAddress)
                                                        </span>
                                                    </div>

                                                    <div class="col-md-6">
                                                        Permanent Address
                                                        @Html.TextAreaFor(a => a.PermanentAddress, new { @class = "form-control" })
                                                        <span class="text-danger">
                                                            @Html.ValidationMessageFor(a => a.PermanentAddress)
                                                        </span>
                                                    </div>

                                                    <div class="col-md-6">
                                                        Aadhar No.
                                                        @Html.TextBoxFor(a => a.AadharNo, new { @class = "form-control" })
                                                        <span class="text-danger">
                                                            @Html.ValidationMessageFor(a => a.AadharNo)
                                                        </span>
                                                    </div>

                                                    @*<div class="col-md-6">
                                                            Address *
                                                            @Html.TextAreaFor(a => a.DriverAddress, new { @class = "form-control" })
                                                            <span class="text-danger">
                                                                @Html.ValidationMessageFor(a => a.DriverAddress)
                                                            </span>
                                                        </div>*@

                                                    <div class="col-md-6">
                                                        DL No.
                                                        @Html.TextBoxFor(a => a.DlNumber, new { @class = "form-control" })
                                                        <span class="text-danger">
                                                            @Html.ValidationMessageFor(a => a.DlNumber)
                                                        </span>
                                                    </div>


                                                    <div class="col-md-6">
                                                        Driver's Pic.
                                                        @if (!string.IsNullOrEmpty(Model.DriverImage))
                                                        {
                                                            <a href="/images/@Model.DriverImage"> <img class="thumb" src="/images/@Model.DriverImage" /></a>
                                                        }
                                                        @Html.TextBoxFor(a => a.DriverImageFile, new { @class = "form-control", type = "file" })
                                                        <span class="text-danger">
                                                            @Html.ValidationMessageFor(a => a.DriverImageFile)
                                                        </span>
                                                    </div>

                                                    <div class="col-md-6">
                                                        Aadhar Doc.
                                                        @Html.TextBoxFor(a => a.AadharImageFile, new { @class = "form-control", type = "file" })
                                                        @if (!string.IsNullOrEmpty(Model.AadharImage))
                                                        {
                                                            <a href="/images/@Model.AadharImage"> <i class="fa fa-2x fa-file-pdf-o text-danger"></i></a>
                                                        }
                                                        <span class="text-danger">
                                                            @Html.ValidationMessageFor(a => a.AadharImageFile)
                                                        </span>
                                                    </div>

                                                    <div class="col-md-6">
                                                        DL Doc.

                                                        @Html.TextBoxFor(a => a.DlImageFile, new { @class = "form-control", type = "file" })

                                                        @if (!string.IsNullOrEmpty(Model.DlImage))
                                                        {
                                                            <a href="/images/@Model.DlImage"><i class="fa fa-2x fa-file-pdf-o text-danger"></i></a>
                                                        }
                                                        <span class="text-danger">
                                                            @Html.ValidationMessageFor(a => a.DlImageFile)
                                                        </span>
                                                    </div>


                                                    <div class="col-md-6">
                                                        Police Verification Doc.

                                                        @Html.TextBoxFor(a => a.PolVerifImgFile, new { @class = "form-control", type = "file" })
                                                        <span class="text-danger">
                                                            @Html.ValidationMessageFor(a => a.PolVerifImgFile)
                                                        </span>
                                                    </div>

                                                    <div class="col-md-6">
                                                        Licence Expiry Date. <span class="text-danger">*</span>
                                                        @Html.TextBoxFor(a => a.LicenceExpDate, new { @class = "form-control sdp" })
                                                        <span class="text-danger">
                                                            @Html.ValidationMessageFor(a => a.LicenceExpDate)
                                                        </span>
                                                    </div>

                                                    <div class="col-md-6">
                                                        PAN Card Doc.

                                                        @Html.TextBoxFor(a => a.PanFile, new { @class = "form-control", type = "file" })
                                                        <span class="text-danger">
                                                            @Html.ValidationMessageFor(a => a.PanFile)
                                                        </span>
                                                    </div>


                                                    <div class="col-md-6">
                                                        Pan No.
                                                        @Html.TextBoxFor(a => a.PanNumber, new { @class = "form-control" })
                                                        <span class="text-danger">
                                                            @Html.ValidationMessageFor(a => a.PanNumber)
                                                        </span>
                                                    </div>

                                                    <div class="col-md-6">
                                                        Driver Available
                                                        @Html.CheckBoxFor(a => a.IsAvailable, "IsAvailable")

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="card-footer text-end">
                                            <input type="submit" class="btn btn-primary" value="Save" />
                                            <a href="/Driver/All?menuId=@Model.MenuId" class="btn btn-outline-primary">Cancel</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
    </div>
</div>
<link href="/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="/js/jquery2.0.3.min.js"></script>
<script src="/Scripts/jquery-ui-1.12.1.min.js"></script>
<script>
    $("#vendorName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '/Cab/GetVendorList',
                data: { term: request.term },
                type: 'GET',
                success: function (data) {
                    if (!data.length) {
                        var result = [
                         {
                             label: 'No data found',
                             value: response.term
                         }
                        ];
                        response(result);
                    }
                    else {
                        response($.map(data, function (item) {
                            return {
                                label: item.CompanyName,
                                value: item.Id

                            };
                        }));
                    }
                }
            });
        },
        select: function (event, ui) {
            $('#Vendor_Id').val(ui.item.value);
            $('#vendorName').val(ui.item.label);
            return false;
        }
    });
</script>