@model VardaanCab.Domain.DTO.ShiftDTO
@{
    ViewBag.Title = "ShiftTime";
    Layout = "~/Views/Shared/Master/_NewAdminLayout.cshtml";
    int Count = 1;
}

<div class="container-fluid">
    <div class="row">

        <div class="col-12">
            <div class="row">
                <div class="col-sm-12">
                    <!--Hotel detail start-->
                    <div class="card">
                        <div class="card-header">
                            <h5>@ViewBag.Heading</h5>
                        </div>
                        <form class="theme-form mega-form" action="ShiftTime" method="post" enctype="multipart/form-data">
                            <div class="card-body">
                                <input name="MenuId" type="hidden" value="@ViewBag.menuId" />
                                <input name="Id" type="hidden" value="@ViewBag.Id" />
                                @if (TempData["msg"] != null)
                                {
                                    <div class="mb-3">
                                        <div class="alert alert-info">
                                            @TempData["msg"]
                                        </div>
                                    </div>
                                }
                            <div class="mb-3">
                                <div class="col-6">
                                    <label for="hotel-category" class="form-label-title ">
                                        Trip Type<span class="text-danger">*</span>
                                    </label>
                                    <select id="hotel-category" name="TripTypeId" class="form-control js-example-basic-single col-sm-12" required="required">
                                        <option value="1" @(ViewBag.TripTypeId == 1 ? "selected" : "")>PICKUP</option>
                                        <option value="2" @(ViewBag.TripTypeId == 2 ? "selected" : "")>DROP</option>
                                    </select>

                                    <span class="text-danger">
                                        @Html.ValidationMessageFor(a => a.TripTypeId)
                                    </span>
                                </div>
                                </div>
                                <div class="row">

                                    <div class="col-6">
                                        <label class="form-label-title ">Shift Time<span class="text-danger">*</span></label>
                                        <div class="input-group date" id="CheckIn"
                                             data-target-input="nearest">
                                            <input class="form-control datetimepicker-input digits" name="ShiftTime" value="@ViewBag.ShiftTime" type="text" data-target="#CheckIn" required="required">
                                            <div class="input-group-text" data-target="#CheckIn"
                                                 data-toggle="datetimepicker">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.ShiftTime)
                                            </span>
                                        </div>
                                    </div>


                                </div>

                            </div>
                            <div class="card-footer text-end">
                                <button class="btn btn-primary me-3">@ViewBag.BtnTXT</button>
                            </div>
                        </form>
                    </div>
                    <!--Hotel detail end-->
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Get shift List-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header  card-header--2">

                    <div>
                        <h5>Shift Time List</h5>
                    </div>
                    @*<form class="d-inline-flex">
                        <a href="add-new-cars.html" class="btn btn-theme">
                            <i data-feather="plus-square"></i>Add New
                        </a>
                    </form>*@
                </div>

                <div class="card-body">
                    @if (TempData["dltmsg"] != null)
                    {
                        <div class="row r">
                            <div class="col-md-12">
                                <div class="alert alert-success">
                                    @TempData["dltmsg"]
                                </div>
                            </div>
                        </div>
                    }
                <div>
                    <div class="table-responsive table-desi">
                        <table class="all-cars-table table table-striped">
                            <thead>
                                <tr>
                                    <th nowrap>Sr No.</th>
                                    <th>Trip Type</th>
                                    <th>Shift Type</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ShiftList != null)
                                {
                                    foreach (var item in Model.ShiftList)
                                    {
                                        <tr>
                                            <td nowrap>@Count</td>
                                            <td>@item.TripType</td>
                                            <td>@item.ShiftTime</td>
                                            <td>
                                                <a href="/Shift/ShiftTime?Id=@item.Id">
                                                    <i class="fa fa-pencil-square-o"
                                                       aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/Shift/DeleteShiftTime?Id=@item.Id" onclick="return confirm('Are you sure want to delete?')">
                                                    <i class="fa fa-trash-o"
                                                       aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        Count++;
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
                </div>

                

            </div>
        </div>

    </div>
</div>
 