@model VardaanCab.Domain.DTO.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
    //Layout = "~/Views/Shared/AdminLayout.cshtml";
    Layout = "~/Views/Shared/Master/_NewAdminLayout.cshtml";
}
<style>
    .row{
        margin-top:1%;
    }
</style>
<div style="margin-top:1%;width:50%">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Change Password</h5>

                    </div>
                    @using (Html.BeginForm())
                    {
                        <div class="card-body">

                            <div class="row">
                                @if (TempData["msg"] != null)
                                {
                                    <div class="col-md-12">
                                        <div class="alert alert-info">@TempData["msg"]</div>
                                    </div>
                                }
                                <div class="col-md-12">
                                    <div class="form-group">
                                        Old Password
                                        @Html.PasswordFor(a => a.OldPassword, new { @class = "form-control" })
                                        <span class="text-danger">@Html.ValidationMessageFor(a => a.OldPassword)</span>
                                    </div>
                                    <div class="form-group">
                                        New Password
                                        @Html.PasswordFor(a => a.NewPassword, new { @class = "form-control" })
                                        <span class="text-danger">@Html.ValidationMessageFor(a => a.NewPassword)</span>
                                    </div>

                                    <div class="form-group">
                                        Confirm New Password
                                        @Html.PasswordFor(a => a.NewPasswordConfirm, new { @class = "form-control" })
                                        <span class="text-danger">@Html.ValidationMessageFor(a => a.NewPasswordConfirm)</span>
                                    </div>
                                    @*<div class="form-group">
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </div>*@

                                </div>
                            </div>

                        </div>
                        <div class="card-footer text-end">
                            <input type="submit" value="Update" class="btn btn-primary" />
                            <a href="/Admin/Dashboard" class="btn btn-outline-primary">Cancel</a>
                        </div>
                    }

                </div>
                </div>
            </div>
        </div>
    </div>


