@model VardaanCab.Domain.DTO.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
    //Layout = "~/Views/Shared/Master/_NewAdminLayout.cshtml";
    Layout = "~/Views/Shared/New_Master/_FinelAdminLayout.cshtml";
}
 
<div class="row m-t-40">
    <div class="col-lg-12">
        <!-- Default card start -->
        <div class="card">
            <div class="card-block">
                <h5>Change Password</h5>
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#!">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">Change Password</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <!-- Heading -->
                <h5>Change Password</h5>

              
            </div>
           
            <div class="card-block">
                @using (Html.BeginForm())
                {
                  
                    <div class="card-body">
                        @if (TempData["msg"] != null)
                        {
                            <div class="row r">
                                <div class="col-md-12">
                                    <div class="alert alert-success border-success">
                                        @TempData["msg"]
                                    </div>
                                </div>
                            </div>
                        }
                        @if (TempData["errormsg"] != null)
                        {
                            <div class="row r">
                                <div class="col-md-12">
                                    <div class="alert alert-success border-danger">
                                        @TempData["errormsg"]
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    Old Password
                                    @Html.PasswordFor(a => a.OldPassword, new { @class = "form-control" })
                                    <span class="text-danger">@Html.ValidationMessageFor(a => a.OldPassword)</span>
                                </div>
                                <div class="form-group">
                                    New Password
                                    @Html.PasswordFor(a => a.NewPassword, new { @class = "form-control" })
                                    <span class="text-danger">@Html.ValidationMessageFor(a => a.NewPassword)</span>
                                </div>

                                <div class="form-group">
                                    Confirm New Password
                                    @Html.PasswordFor(a => a.NewPasswordConfirm, new { @class = "form-control" })
                                    <span class="text-danger">@Html.ValidationMessageFor(a => a.NewPasswordConfirm)</span>
                                </div>
                                @*<div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>*@

                            </div>
                        </div>
                    </div>

                    <div class="card-footer text-end">
                        <input type="submit" value="Update" class="btn btn-primary" />
                        <a href="/Admin/Dashboard" class="btn btn-outline-primary">Cancel</a>

                    </div>
                }
            </div>
        </div>
    </div>
</div>
 


