
@model VardaanCab.Models.ViewModels.LoginHistoryViewModel
@{
    ViewBag.Title = "Login History";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int sn = Model.SrNo;
}
<link href="~/css/fixtable.css" rel="stylesheet" />
<style>
    #main {
        margin: auto;
        width: 100%;
    }
</style>

<div id="main">
    <h2>Login History</h2>
    <div class="row">
        <a href="/Admin/SubMenu?menuId=@ViewBag.menuId" class="btn btn-info" style="margin-left:2%">Back</a>
    </div>
    @using (Html.BeginForm())
    {
        <input type="hidden" name="menuId" value="@ViewBag.menuId"/>
        <div class="row r">
            <div class="col-md-3">
                <input type="text" placeholder="Search by Name" class="form-control" name="term" />
            </div>
            <div class="col-md-3">
                <input type="text" placeholder="YYYY/MM/DD" class="form-control sdp" name="sDate" />
            </div>
            <div class="col-md-3">
                <input type="text" placeholder="YYYY/MM/DD" class="form-control sdp" name="eDate" />
            </div>
            <div class="col-md-3">
                <input type="submit" class="btn btn-info" value="Find" />
                <a class="btn btn-info" href="/Admin/LoginHistory?menuId=@ViewBag.menuId">Show all</a>
                
            </div>
        </div>
    }


    <div class="mainDiv">
        <div class="wrapperTable table-scroll">
            <table class="table">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Name</th>
                        <th>Ip Address</th>
                        <th>Update Date</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.History)
                    {
                        <tr>
                            <td>@(++sn)</td>
                            <td>@item.UserName</td>
                            <td>@item.Ip_Address</td>
                            <td>@item.UpdateDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row r r">
        <div class="col-md-12">
            <ul class="pagination">
                @for (int i = 1; i <= Model.NumberOfPages; i++)
                {
                    <li class="@if (i == Model.Page) {<text>active</text> }">
                        <a href="/Admin/LoginHistory?term=@Model.Term&page=@i&menuId=@ViewBag.menuId">@i</a>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>





