@model IEnumerable<VardaanCab.Domain.DTO.SoftwareLinkDTO>
@{
    var UserName = @User.Identity.Name;
}
<div>
    <div class="logo-wrapper">
        <span class="back">Back</span>
        <div class="back-btn"><i class="fa fa-angle-left"></i></div>
        <div class="toggle-sidebar">
            <i class="status_toggle middle sidebar-toggle" data-feather="grid">
            </i>
        </div>
    </div>
    <div class="logo-icon-wrapper">
        <a href="index.html">
            <img class="img-fluid"
                 src="../assets/images/logo/logo-icon.png" alt="">
        </a>
    </div>
    <nav class="sidebar-main">
        <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
        <div id="sidebar-menu">
            <ul class="sidebar-links" id="simple-bar">
                <li class="back-btn">
                    <a href="index.html">
                        <img class="img-fluid"
                             src="../assets/images/logo/logo-icon.png" alt="">
                    </a>
                    <div class="mobile-back text-end">
                        <span>Back</span><i class="fa fa-angle-right ps-2"
                                            aria-hidden="true"></i>
                    </div>
                </li>

                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title link-nav"
                       href="/Admin/Dashboard"><i data-feather="home"> </i><span>Dashboard</span></a>
                </li>
                @*@foreach (var item in Model.Data)
                    {
                        <li class="sidebar-list">
                            <a class="sidebar-link sidebar-title" href="/admin/Submenu?menuId=@item.Id">
                                <i data-feather="navigation"></i><span>@item.Title</span>
                            </a>

                        </li>

                    }*@
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <li class="sidebar-list">
                            <a class="sidebar-link sidebar-title" href="#">
                                <i data-feather="navigation"></i><span>@item.Title</span>
                            </a>
                            @if (item.ChildMenus != null && item.ChildMenus.Count() > 0)
                            {
                                <ul class="sidebar-submenu">
                                    @foreach (var menu in item.ChildMenus)
                                    {
                                        <li>
                                            @if (menu.Url.Contains("?"))
                                            {
                                                <a href="@menu.Url&menuId=@item.Id">@menu.Title</a>
                                            }
                                            else
                                            {
                                                <a href="@menu.Url?&menuId=@item.Id">@menu.Title</a>
                                            }
                                        </li>
                                    }

                                </ul>
                            }
                        </li>
                    }
                }
                @*<li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="#">
                            <i data-feather="navigation"></i><span>Cab</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li><a href="#">Create Booking</a></li>
                            <li><a href="#">All Booking</a></li>
                            <li><a href="#">Cars's Details </a></li>

                            <li><a href="#">Add New Cars</a></li>
                            <li><a href="#">All Drivers</a></li>
                            <li><a href="#">Add Drivers</a></li>

                        </ul>
                    </li>*@


            </ul>
        </div>
        <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
    </nav>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Get the current URL path
        var path = window.location.pathname + window.location.search;

        // Iterate over each sidebar link and submenu link
        $('nav .sidebar-link, nav .sidebar-submenu a').each(function () {
            var href = $(this).attr('href');

            // Check if the current link matches the URL path
            if (path === href) {
                // Add 'active' class to the link
                $(this).addClass('active');

                // Add 'active' class to its parent <li>
                $(this).closest('li').addClass('active');

                // Show and open any parent <ul> with the class 'sidebar-submenu'
                $(this).closest('.sidebar-submenu').show();

                // Add 'menu-open' class to its closest parent with class 'sidebar-list'
                $(this).closest('.sidebar-list').addClass('menu-open');
            }
        });
    });
</script>

