@model VardaanCab.Domain.DTO.CabDTO
@{
    ViewBag.Title = "Add Cab";
    Layout = "~/Views/Shared/New_Master/_FinelAdminLayout.cshtml";
}

<style>
    .row {
        margin-top: 1% !important;
    }

    .import-row {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }

        .import-row .col-md-12 {
            text-align: right;
            margin-bottom: 15px;
        }


    .import-form-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }


        .import-form-container .col-md-7,
        .import-form-container .col-md-2 {
            margin-left: 10px;
        }
</style>



<input type="hidden" name="MenuId" value="@ViewBag.menuId" />
<div class="pcoded-content" id="pcoded-content">
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <div class="card bread">
                    <div class="card-body">
                        <h5>Add Cab</h5>
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#!">
                                        <i class="fa fa-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Registration</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Add Cab</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <!-- Heading -->
                                    <h5>Add Cab</h5>

                                    <!-- Import and Export Section -->
                                    <div class="d-flex align-items-center">
                                        <!-- Export Section -->
                                        <b class="mr-2">Import To Excel Format:</b>
                                        <a href="@Url.Action("ExportToExcel", "Cab")" class="btn btn-link">
                                            <img src="~/files/assets/images/Export-Image.png" alt="Export" class="img-fluid" style="height: 42px; width: 108px;" />
                                        </a>

                                        <!-- Import Form -->
                                        @using (Html.BeginForm("ImportCabData", "Cab", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <div class="d-flex align-items-center ml-3">
                                                <input type="file" class="form-control" name="file" required style="width: 200px;" />
                                                <button type="submit" class="btn btn-primary btn-sm" id="BtnImport">Import</button>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="card-block">
                                    @using (Html.BeginForm("Add", "Cab", FormMethod.Post, new { encType = "multipart/form-data" }))
                                    {

                                        if (TempData["msg"] != null)
                                        {
                                            <div class="row r">
                                                <div class="col-md-12">
                                                    <div class="alert alert-success border-success">
                                                        @TempData["msg"]
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                <div class="row r">
                                    <div class="col-md-6">
                                        Vehicle Make <span class="text-danger">*</span>
                                        @Html.TextBoxFor(a => a.VehicleMake, new { @class = "form-control" })
                                        <span class="text-danger">
                                            @Html.ValidationMessageFor(a => a.VehicleMake)
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        Vehicle Capacity <span class="text-danger">*</span>
                                        @Html.DropDownListFor(a => a.VehicleCapacity_Id, Model.VehicleCapacity, "Select", new { @class = "form-control" })
                                        <span class="text-danger">
                                            @Html.ValidationMessageFor(a => a.VehicleCapacity_Id)
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        Vehicle Model <span class="text-danger">*</span>
                                        @Html.DropDownListFor(a => a.VehicleModel_Id, Model.VehicleModels, "Select", new { @class = "form-control" })
                                        <span class="text-danger">
                                            @Html.ValidationMessageFor(a => a.VehicleModel_Id)
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        Vehicle Company Name <span class="text-danger">*</span>
                                        @Html.TextBoxFor(a => a.Company, new { @class = "form-control" })
                                        <span class="text-danger">
                                            @Html.ValidationMessageFor(a => a.Company)
                                        </span>
                                    </div>
                                </div>

                                       
                                            <div class="col-md-6">
                                                Vehicle Number <span class="text-danger">*</span>
                                                @Html.TextBoxFor(a => a.VehicleNumber, new { @class = "form-control", @maxlength = "10", @style = "text-transform:uppercase" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.VehicleNumber)
                                                </span>
                                            </div>

                                            <div class="col-md-6">
                                                Fuel Efficiancy
                                                @Html.TextBoxFor(a => a.FuelEfficiency, new { @class = "form-control" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.FuelEfficiency)
                                                </span>
                                            </div>
                                        

                                        
                                            <div class="col-md-6">
                                                Vendor
                                                @Html.HiddenFor(a => a.Vendor_Id)
                                                @Html.TextBox("vendorName", null, new { @class = "form-control" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.Vendor_Id)
                                                </span>
                                            </div>
                                            <div class="col-md-6">
                                                Sticker Number
                                                @Html.TextBoxFor(a => a.StickerNumber, new { @class = "form-control" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.StickerNumber)
                                                </span>
                                            </div>

                                            <div class="col-md-6">
                                                FitnessValidity <span class="text-danger">*</span>
                                                @Html.TextBoxFor(a => a.FitnessVality, new { @class = "form-control",type="date" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.FitnessVality)
                                                </span>
                                            </div>
                                        

                                        
                                            <div class="col-md-6">
                                                InsurranceValidity <span class="text-danger">*</span>
                                                @Html.TextBoxFor(a => a.InsurranceValidity, new { @class = "form-control",type="date" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.InsurranceValidity)
                                                </span>
                                            </div>

                                            <div class="col-md-6">
                                                PolutionValidity <span class="text-danger">*</span>
                                                @Html.TextBoxFor(a => a.PolutionValidity, new { @class = "form-control",type="date" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.PolutionValidity)
                                                </span>
                                            </div>
                                        


                                        <div class="row r">
                                            <div class="col-md-6">
                                                Fitness Doc
                                                @Html.TextBoxFor(a => a.FitnessDocFile, new { @class = "form-control", type = "file" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.FitnessDocFile)
                                                </span>
                                            </div>

                                            <div class="col-md-6">
                                                Polution Doc
                                                @Html.TextBoxFor(a => a.PolutionDocFile, new { @class = "form-control", type = "file" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.PolutionDocFile)
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row r">
                                            <div class="col-md-6">
                                                Insurance Doc
                                                @Html.TextBoxFor(a => a.InsuranceDocFile, new { @class = "form-control", type = "file" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.InsuranceDocFile)
                                                </span>
                                            </div>
                                            <div class="col-md-6">
                                                RC No
                                                @Html.TextBoxFor(a => a.RcNumber, new { @class = "form-control" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.RcNumber)
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row r">
                                            <div class="col-md-6">
                                                RC Issue Date
                                                @Html.TextBoxFor(a => a.RcIssueDate, new { @class = "form-control",type="date" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.RcIssueDate)
                                                </span>
                                            </div>

                                            <div class="col-md-6">
                                                RC Validity
                                                @Html.TextBoxFor(a => a.RcValidity, new { @class = "form-control",type="date" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.RcValidity)
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row r">
                                            <div class="col-md-6">
                                                RC Doc
                                                @Html.TextBoxFor(a => a.RCDocFile, new { @class = "form-control", type = "file" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.RCDocFile)
                                                </span>
                                            </div>

                                            <div class="col-md-6">
                                                Permit No
                                                @Html.TextBoxFor(a => a.PermitNo, new { @class = "form-control" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.PermitNo)
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row r">
                                            <div class="col-md-6">
                                                Permit Doc
                                                @Html.TextBoxFor(a => a.PermitDocFile, new { @class = "form-control", type = "file" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.PermitDocFile)
                                                </span>
                                            </div>

                                            <div class="col-md-6">
                                                Permit Validity <span class="text-danger">*</span>
                                                @Html.TextBoxFor(a => a.PermitValidity, new { @class = "form-control",type="date" })
                                                <span class="text-danger">
                                                    @Html.ValidationMessageFor(a => a.PermitValidity)
                                                </span>
                                            </div>
                                        </div>
                                        <div class="card-footer text-end">
                                            <button type="submit" class="btn btn-primary me-3">Save</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- Page body end -->
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:130%;">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Errors in Uploaded Data
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="errorTable" class="datatable table table-striped">
                    <thead>
                        <tr>
                            <th>Row</th>
                            <th>Error Type</th>
                            <th>Description</th>

                        </tr>
                    </thead>
                    <tbody>
                        <!-- Error rows will be dynamically added here -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script>
        document.addEventListener("DOMContentLoaded", function () {
            const hasErrors = '@TempData["HasErrors"]' === 'True';
            if (hasErrors) {
                const errorData = JSON.parse('@Html.Raw(TempData["ExcelErrors"])');
                const errorTable = document.getElementById("errorTable").querySelector("tbody");

                // Populate the table with error data
                errorData.forEach(error => {
                    const row = errorTable.insertRow();
                    const affectedRowCell = row.insertCell(0);
                    const errorTypeCell = row.insertCell(1);
                    const descriptionCell = row.insertCell(2);



                    affectedRowCell.textContent = error.AffectedRow;
                    errorTypeCell.textContent = error.ErrorType;
                    descriptionCell.textContent = error.Description;

                });

                // Show the modal
                const modal = new bootstrap.Modal(document.getElementById("exampleModal"));
                modal.show();
            }
        });
</script>

<link href="/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="/js/jquery2.0.3.min.js"></script>
<script src="/Scripts/jquery-ui-1.12.1.min.js"></script>
<script>
    $("#vendorName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '/Cab/GetVendorList',
                data: { term: request.term },
                type: 'GET',
                success: function (data) {
                    if (!data.length) {
                        var result = [
                            {
                                label: 'No data found',
                                value: response.term
                            }
                        ];
                        response(result);
                    }
                    else {
                        response($.map(data, function (item) {
                            return {
                                label: item.CompanyName,
                                value: item.Id

                            };
                        }));
                    }
                }
            });
        },
        select: function (event, ui) {
            $('#Vendor_Id').val(ui.item.value);
            $('#vendorName').val(ui.item.label);
            return false;
        }
    });


    $("#VehicleModel_Id").change(function () {
        var mm = $(this).val();
        // alert(mm);
        let vmanu = $("#Company");
        $.get('/Common/geVehicleManufatureName?modelId=' + mm, function (r) {
            var wday = r;
            // alert(wday);
            vmanu.val(wday);
        })

    });
</script>
