@model VardaanCab.Domain.ViewModels.CabListVm
@{
    ViewBag.Title = "Cabs";
    Layout = "~/Views/Shared/New_Master/_FinelAdminLayout.cshtml";
    var links = new VardaanCab.Repository.CommonRepository().GetNonMenuLinks();
    int count = Model.SrNo;
}
<link href="~/css/fixtable.css" rel="stylesheet" />
 
<div class="pcoded-content">

    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <div class="card bread">
                    <div class="card-body">
                        <h5>Cabs</h5>
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#!">
                                        <i class="fa fa-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Registration</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Show Cabs</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <!-- Heading -->
                                    <h5>Cabs</h5>

                                    <!-- Import and Export Section -->
                                    <div class="d-flex align-items-center">
                                        <input name="menuId" value="@ViewBag.menuId" type="hidden" />
                                        <button type="button" onclick="Export()" class="btn btn-info" id="btnExport"> <i class="fa fa-file-excel-o"></i></button>
                                        &nbsp;&nbsp;
                                        <a href="/Cab/Add?menuId=@ViewBag.menuId" class="btn btn-primary btn-sm">
                                            <i class="fa fa-plus-square"></i>Add Driver
                                        </a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="order-table" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th class="sticky-col first-col" nowrap>SNo</th>
                                                    <th class="sticky-col second-col">Model</th>
                                                    <th class="sticky-col third-col">Vehicle No</th>
                                                    <th>Fuel Efficiency</th>
                                                    <th>Vendor</th>
                                                    <th>Pollution Doc</th>
                                                    <th>Insurrance doc</th>
                                                    <th>Fitness cert.</th>
                                                    <th>RC</th>
                                                    <th>Permit No & Doc</th>
                                                    <th>Is Active</th>
                                                    <th>Is Available</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Cabs)
                                                {

                                                    <tr>
                                                        <td class="sticky-col first-col" nowrap>@(++count)</td>
                                                        <td class="sticky-col second-col">@item.ModelName</td>
                                                        <td class="sticky-col third-col">@item.VehicleNumber</td>
                                                        <td>@item.FuelEfficiency</td>
                                                        <td>@item.VendorName</td>
                                                        <td>
                                                            Validity : @item.PolutionValidity.ToString("dd-MMM-yyyy")
                                                            @if (!string.IsNullOrEmpty(item.PolutionDoc))
                                                            {
                                                                <br />
                                                                <a href="/images/@item.PolutionDoc">
                                                                    <i class="text-danger fa fa-2x fa-file-pdf-o"></i>
                                                                </a>
                                                            }
                                                        </td>
                                                        <td>
                                                            Validity : @item.InsurranceValidity.ToString("dd-MMM-yyyy")
                                                            @if (!string.IsNullOrEmpty(item.InsuranceDoc))
                                                            {
                                                                <br />
                                                                <a href="/images/@item.InsuranceDoc">
                                                                    <i class="text-danger fa fa-2x fa-file-pdf-o"></i>
                                                                </a>
                                                            }
                                                        </td>

                                                        <td>
                                                            Validity : @item.FitnessVality.ToString("dd-MMM-yyyy")
                                                            @if (!string.IsNullOrEmpty(item.FitnessDoc))
                                                            {
                                                                <br />
                                                                <a href="/images/@item.FitnessDoc">
                                                                    <i class="text-danger fa fa-2x fa-file-pdf-o"></i>
                                                                </a>
                                                            }
                                                        </td>

                                                        <td>
                                                            @if (string.IsNullOrEmpty(item.RCDoc))
                                                            {
                                                                <text>  RC No: @item.RcNumber </text> <br />
                                                            }
                                                            @if (item.RcIssueDate != null)
                                                            {
                                                                <span>RC Issue Date : @item.RcIssueDate.Value.ToString("dd-MMM-yyyy") <br /></span>
                                                            }
                                                            @if (item.RcValidity != null)
                                                            {
                                                                <span>RC Validity : @item.RcValidity.Value.ToString("dd-MMM-yyyy") <br /></span>
                                                            }


                                                            @if (!string.IsNullOrEmpty(item.RCDoc))
                                                            {
                                                                <a href="/images/@item.RCDoc">
                                                                    <i class="text-danger fa fa-2x fa-file-pdf-o"></i>
                                                                </a>
                                                            }
                                                        </td>

                                                        <td>
                                                            Validiy:
                                                            @item.PermitValidity.ToString("dd-MMM-yyyy")
                                                            @if (!string.IsNullOrEmpty(item.PermitNo))
                                                            {
                                                                <span>Permit No : @item.PermitNo</span>
                                                            }

                                                            @if (!string.IsNullOrEmpty(item.PermitDoc))
                                                            {
                                                                <br />
                                                                <a href="/images/@item.PermitDoc">
                                                                    <i class="text-danger fa fa-2x fa-file-pdf-o"></i>
                                                                </a>
                                                            }
                                                        </td>

                                                        <td>
                                                            @if (item.IsActive)
                                                            {
                                                                if (links.Contains("Change Status of cab"))
                                                                {
                                                                    <a href="/Cab/ChangeStatus?id=@item.Id&menuId=@ViewBag.menuId" class="btn btn-success">Active</a>
                                                                }
                                                                else
                                                                {
                                                                    <span>Inactive</span>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (links.Contains("Change Status of cab"))
                                                                {
                                                                    <a href="/Cab/ChangeStatus?id=@item.Id&menuId=@ViewBag.menuId" class="btn btn-danger">Inactive</a>
                                                                }
                                                                else
                                                                {
                                                                    <span>Inactive</span>
                                                                }
                                                            }
                                                        </td>

                                                        <td>
                                                            @if (item.IsAvailable)
                                                            {
                                                                if (links.Contains("Change Availabilty of cab"))
                                                                {
                                                                    <a href="/Cab/ChangeAvailStatus?id=@item.Id&menuId=@ViewBag.menuId" class="btn btn-success">Available</a>
                                                                }
                                                                else
                                                                {
                                                                    <span>Available</span>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (links.Contains("Change Availabilty of cab"))
                                                                {
                                                                    <a href="/Cab/ChangeAvailStatus?id=@item.Id&menuId=@ViewBag.menuId" class="btn btn-danger">Not-Available</a>
                                                                }
                                                                else
                                                                {
                                                                    <span>Unavailable</span>
                                                                }
                                                            }
                                                        </td>

                                                        <td>
                                                            @if (links.Contains("Edit Cab"))
                                                            {
                                                                <a href="/Cab/Edit?Id=@item.Id&&menuId = @ViewBag.menuId" class="btn btn-info">Edit</a>
                                                                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id, menuId = ViewBag.menuId }, new { @class = "btn btn-info" })*@
                                                            }
                                                            @if (links.Contains("Delete cab"))
                                                            {
                                                                <span class="btn btn-danger" onclick="deleteRecord('/Cab/Delete?id=@item.Id')">Delete</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Page-body end -->
            </div>
        </div>
    </div>
</div>
 


                    <script src="/js/jquery2.0.3.min.js"></script>
                    <script>
    function deleteRecord(url)
    {
        if(window.confirm('do you want to delete?'))
        {
            $.get(url).then(function (r) {
                if (r == "ok") {
                    var loc = window.location.href;
                    window.location.href = loc;
                }
            }, function (e) {
                alert("Server error");
            })
        }
    }

    function Export()
    {
        var _term = '@Model.Term';
        var _page=@Model.Page;
        var _menuId=@ViewBag.menuId;
        var _export = true;
        window.location.href=`/Cab/All?term=${_term}&page=${_page}&export=${_export}&menuId=${_menuId}`;
    }
                    </script>

