@model VardaanCab.Domain.ViewModels.CabListVm
@{
    ViewBag.Title = "Cabs";
    Layout = "~/Views/Shared/Master/_NewAdminLayout.cshtml";
    var links = new VardaanCab.Repository.CommonRepository().GetNonMenuLinks();
    int count = Model.SrNo;
}
<link href="~/css/fixtable.css" rel="stylesheet" />
<style>
    #main {
        margin: auto;
        width: 99%;
    }

</style>
<style>




    thead tr,
    tfoot tr {
        background: hsl(220, 50%, 80%);
    }

    tbody tr:nth-child(even) {
        background: hsl(220, 50%, 95%);
    }

    th, td {
        border: 1px solid;
        padding: 0.5em;
        text-align: left;
        vertical-align: top;
        font-weight: normal;
    }

    .scrollable thead,
    .scrollable tfoot,
    .scrollable tbody,
    .scrollable th,
    .scrollable td {
        display: block;
        width: 100%;
    }

    .scrollable thead,
    .scrollable tfoot,
    .scrollable tbody {
        overflow-y: scroll;
    }

    .scrollable thead,
    .scrollable tfoot {
        -ms-overflow-style: none;
    }

        .scrollable thead::-webkit-scrollbar,
        .scrollable tfoot::-webkit-scrollbar {
            visibility: hidden;
        }

    .scrollable tbody {
        max-height: 20em;
        position: relative;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .scrollable tr {
        display: flex;
    }

    .scrollable tbody th,
    .scrollable tbody td {
        border-top: none;
    }

    .scrollable th:not(:last-child),
    .scrollable td:not(:last-child) {
        border-right: none;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header  card-header--2">

                    <div>
                        <h5>Cabs</h5>
                    </div>

                    <form class="d-inline-flex">
                        <a href="/Cab/Add?menuId=@ViewBag.menuId" class="align-items-center btn btn-theme">
                            <i data-feather="plus-square"></i>Add More
                        </a>
                        
                    </form>

                </div>

                <div class="card-body">
                    
                        @*<h2>Cabs</h2>
                        <div class="row">
                            <a href="/Admin/SubMenu?menuId=@ViewBag.menuId" class="btn btn-info" style="margin-left:2%">Back</a>

                        </div>*@
                        @using (Html.BeginForm())
                        {
                            <input name="menuId" value="@ViewBag.menuId" type="hidden" />
                            <div class="row r">
                                <div class="col-md-4">
                                    <input type="text" placeholder="Search by model/vehicle no" class="form-control" name="term" />
                                </div>
                                <div class="col-md-8">
                                    <input type="submit" class="btn btn-primary" value="Find" />
                                    <a class="btn btn-primary" href="/Cab/All?menuId=@ViewBag.menuId">Show all</a>
                                    @*<a class="btn btn-info" href="/Cab/Add?menuId=@ViewBag.menuId">+ Add More</a>*@
                                    <button type="button" onclick="Export()" class="btn btn-info" id="btnExport"> <i class="fa fa-file-excel-o"></i></button>
                                </div>
                            </div>
                        }

                        <div class="mainDiv">
                            <div class="table-responsive table-desi scrollable">
                                <table class="user-table table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="sticky-col first-col" nowrap>SNo</th>
                                            <th class="sticky-col second-col">Model</th>
                                            <th class="sticky-col third-col">Vehicle No</th>
                                            <th>Fuel Efficiency</th>
                                            <th>Vendor</th>
                                            <th>Pollution Doc</th>
                                            <th>Insurrance doc</th>
                                            <th>Fitness cert.</th>
                                            <th>RC</th>
                                            <th>Permit No & Doc</th>
                                            <th>Is Active</th>
                                            <th>Is Available</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Cabs)
                                        {

                                            <tr>
                                                <td class="sticky-col first-col" nowrap>@(++count)</td>
                                                <td class="sticky-col second-col">@item.ModelName</td>
                                                <td class="sticky-col third-col">@item.VehicleNumber</td>
                                                <td>@item.FuelEfficiency</td>
                                                <td>@item.VendorName</td>
                                                <td>
                                                    Validity : @item.PolutionValidity.ToString("dd-MMM-yyyy")
                                                    @if (!string.IsNullOrEmpty(item.PolutionDoc))
                                                    {
                                                        <br />
                                                        <a href="/images/@item.PolutionDoc">
                                                            <i class="text-danger fa fa-2x fa-file-pdf-o"></i>
                                                        </a>
                                                    }
                                                </td>
                                                <td>
                                                    Validity : @item.InsurranceValidity.ToString("dd-MMM-yyyy")
                                                    @if (!string.IsNullOrEmpty(item.InsuranceDoc))
                                                    {
                                                        <br />
                                                        <a href="/images/@item.InsuranceDoc">
                                                            <i class="text-danger fa fa-2x fa-file-pdf-o"></i>
                                                        </a>
                                                    }
                                                </td>

                                                <td>
                                                    Validity : @item.FitnessVality.ToString("dd-MMM-yyyy")
                                                    @if (!string.IsNullOrEmpty(item.FitnessDoc))
                                                    {
                                                        <br />
                                                        <a href="/images/@item.FitnessDoc">
                                                            <i class="text-danger fa fa-2x fa-file-pdf-o"></i>
                                                        </a>
                                                    }
                                                </td>

                                                <td>
                                                    @if (string.IsNullOrEmpty(item.RCDoc))
                                                    {
                                                        <text>  RC No: @item.RcNumber </text> <br />
                                                    }
                                                    @if (item.RcIssueDate != null)
                                                    {
                                                        <span>RC Issue Date : @item.RcIssueDate.Value.ToString("dd-MMM-yyyy") <br /></span>
                                                    }
                                                    @if (item.RcValidity != null)
                                                    {
                                                        <span>RC Validity : @item.RcValidity.Value.ToString("dd-MMM-yyyy") <br /></span>
                                                    }


                                                    @if (!string.IsNullOrEmpty(item.RCDoc))
                                                    {
                                                        <a href="/images/@item.RCDoc">
                                                            <i class="text-danger fa fa-2x fa-file-pdf-o"></i>
                                                        </a>
                                                    }
                                                </td>

                                                <td>
                                                    Validiy:
                                                    @item.PermitValidity.ToString("dd-MMM-yyyy")
                                                    @if (!string.IsNullOrEmpty(item.PermitNo))
                                                    {
                                                        <span>Permit No : @item.PermitNo</span>
                                                    }

                                                    @if (!string.IsNullOrEmpty(item.PermitDoc))
                                                    {
                                                        <br />
                                                        <a href="/images/@item.PermitDoc">
                                                            <i class="text-danger fa fa-2x fa-file-pdf-o"></i>
                                                        </a>
                                                    }
                                                </td>

                                                <td>
                                                    @if (item.IsActive)
                                                    {
                                                        if (links.Contains("Change Status of cab"))
                                                        {
                                                            <a href="/Cab/ChangeStatus?id=@item.Id&menuId=@ViewBag.menuId" class="btn btn-success">Active</a>
                                                        }
                                                        else
                                                        {
                                                            <span>Inactive</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (links.Contains("Change Status of cab"))
                                                        {
                                                            <a href="/Cab/ChangeStatus?id=@item.Id&menuId=@ViewBag.menuId" class="btn btn-danger">Inactive</a>
                                                        }
                                                        else
                                                        {
                                                            <span>Inactive</span>
                                                        }
                                                    }
                                                </td>

                                                <td>
                                                    @if (item.IsAvailable)
                                                    {
                                                        if (links.Contains("Change Availabilty of cab"))
                                                        {
                                                            <a href="/Cab/ChangeAvailStatus?id=@item.Id&menuId=@ViewBag.menuId" class="btn btn-success">Available</a>
                                                        }
                                                        else
                                                        {
                                                            <span>Available</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (links.Contains("Change Availabilty of cab"))
                                                        {
                                                            <a href="/Cab/ChangeAvailStatus?id=@item.Id&menuId=@ViewBag.menuId" class="btn btn-danger">Not-Available</a>
                                                        }
                                                        else
                                                        {
                                                            <span>Unavailable</span>
                                                        }
                                                    }
                                                </td>

                                                <td>
                                                    @if (links.Contains("Edit Cab"))
                                                    {
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id, menuId = ViewBag.menuId }, new { @class = "btn btn-info" })
                                                    }
                                                    @if (links.Contains("Delete cab"))
                                                    {
                                                        <span class="btn btn-danger" onclick="deleteRecord('/Cab/Delete?id=@item.Id')">Delete</span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>


                        <div class="row r r">
                            <div class="col-md-12">
                                <ul class="pagination">
                                    @for (int i = 1; i <= Model.NumberOfPages; i++)
                                    {
                                        <li class="@if (i == Model.Page) {<text>active</text> }">
                                            <a href="/Cab/All?term=@Model.Term&page=@i&menuId=@ViewBag.menuId">@i</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


                    <script src="/js/jquery2.0.3.min.js"></script>
                    <script>
    function deleteRecord(url)
    {
        if(window.confirm('do you want to delete?'))
        {
            $.get(url).then(function (r) {
                if (r == "ok") {
                    var loc = window.location.href;
                    window.location.href = loc;
                }
            }, function (e) {
                alert("Server error");
            })
        }
    }

    function Export()
    {
        var _term = '@Model.Term';
        var _page=@Model.Page;
        var _menuId=@ViewBag.menuId;
        var _export = true;
        window.location.href=`/Cab/All?term=${_term}&page=${_page}&export=${_export}&menuId=${_menuId}`;
    }
                    </script>

