@model VardaanCab.Domain.DTO.CityMasterDTO
@{
    ViewBag.Title = "Edit City";
    Layout = "~/Views/Shared/Master/_NewAdminLayout.cshtml";
}


@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Edit City</h5>
                            </div>
                            <div class="card-body">
                                @if (TempData["msg"] != null)
                                {
                                    <div class="row r">
                                        <div class="col-md-12">
                                            <div class="alert alert-info">
                                                @TempData["msg"]
                                            </div>
                                        </div>
                                    </div>
                                }
                                @Html.HiddenFor(a => a.Id)
                                @Html.HiddenFor(a => a.MenuId)
                                <div class="row r">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            City Name *
                                            @Html.TextBoxFor(a => a.CityName, new { @class = "form-control" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.CityName)
                                            </span>
                                        </div>

                                        <div class="form-group">
                                            State *
                                            @Html.DropDownListFor(a => a.StateMaster_Id, Model.States, "Select", new { @class = "form-control" })
                                            <span class="text-danger">
                                                @Html.ValidationMessageFor(a => a.StateMaster_Id)
                                            </span>
                                        </div>

                                    </div>
                                    <div class="card-footer text-end">
                                        <input type="submit" class="btn btn-primary me-3" value="Update" />
                                        <a href="/City/All" class="btn btn-outline-primary">Cancel</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
