@model VardaanCab.Domain.DTO.CityMasterDTO
@{
    ViewBag.Title = "Edit City";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<style>
    .row {
        margin-top: 1% !important;
    }
</style>


@using (Html.BeginForm())
{
    <div style="width:50%">

        <div class="row r">
            <div class="col-md-12">
                <a href="/City/All" class="btn btn-info">Show all</a>
            </div>
        </div>

        <div class="row r">
            <div class="col-md-12">
                <h2>Edit City</h2>
            </div>
        </div>

        @if (TempData["msg"] != null)
        {
            <div class="row r">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        @TempData["msg"]
                    </div>
                </div>
            </div>
        }
        @Html.HiddenFor(a => a.Id)
        @Html.HiddenFor(a=>a.MenuId)
        <div class="row r">
            <div class="col-md-12">
                <div class="form-group">
                    City Name *
                    @Html.TextBoxFor(a => a.CityName, new { @class = "form-control" })
                    <span class="text-danger">
                        @Html.ValidationMessageFor(a => a.CityName)
                    </span>
                </div>

                <div class="form-group">
                    State *
                    @Html.DropDownListFor(a => a.StateMaster_Id, Model.States, "Select", new { @class = "form-control" })
                    <span class="text-danger">
                        @Html.ValidationMessageFor(a => a.StateMaster_Id)
                    </span>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Save" />
                </div>

            </div>
        </div>

    </div>

}