@model VardaanCab.Domain.DTO.EmployeeDTO

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/Master/_NewAdminLayout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header  card-header--2">

                        <div>
                            <h5>Add Employee</h5>
                        </div>
                        <a href="/Employee/GetEmployeeList?menuId=@ViewBag.menuId" class="btn btn-primary">Show all</a>

                    </div>
                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Company_Id, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.DropDownListFor(a => a.Company_Id, Model.Customers, "Select Company", new { @class = "form-control" })
                                    <span class="text-danger">
                                        @Html.ValidationMessageFor(a => a.Company_Id)
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Company_location, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Company_location, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Company_location, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Employee_Id, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Employee_Id, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Employee_Id, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Employee_First_Name, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Employee_First_Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Employee_First_Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Employee_Middle_Name, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Employee_Middle_Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Employee_Middle_Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Employee_Last_Name, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Employee_Last_Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Employee_Last_Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.StateId, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.DropDownListFor(a => a.StateId, Model.States, "Select State", new { @class = "form-control" })
                                    <span class="text-danger">
                                        @Html.ValidationMessageFor(a => a.StateId)
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                @Html.LabelFor(model => model.CityId, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.DropDownListFor(a => a.CityId, Enumerable.Empty<SelectListItem>(), "Select City", new { @class = "form-control" })
                                    <span class="text-danger">
                                        @Html.ValidationMessageFor(a => a.CityId)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Pincode, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Pincode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Pincode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                @Html.LabelFor(model => model.EmployeeCurrentAddress, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.EmployeeCurrentAddress, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EmployeeCurrentAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.LoginUserName, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.LoginUserName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LoginUserName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                @Html.LabelFor(model => model.WeekOff, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @*@Html.DropDownListFor(a => a.WeekOff, Model.DayLists, "Select Days", new { @class = "form-control" })
                                        <span class="text-danger">
                                            @Html.ValidationMessageFor(a => a.WeekOff)
                                        </span>*@
                                    <select id="multiple-checkboxes" multiple="multiple">
                                        <option value="php">PHP</option>
                                        <option value="javascript">JavaScript</option>
                                        <option value="java">Java</option>
                                        <option value="sql">SQL</option>
                                        <option value="jquery">Jquery</option>
                                        <option value=".net">.Net</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.EmployeeGeoCode, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.EmployeeGeoCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EmployeeGeoCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                @Html.LabelFor(model => model.EmployeeBusinessUnit, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.EmployeeBusinessUnit, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EmployeeBusinessUnit, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.EmployeeDepartment, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.EmployeeDepartment, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EmployeeDepartment, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                @Html.LabelFor(model => model.EmployeeProjectName, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.EmployeeProjectName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EmployeeProjectName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.ReportingManager, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.ReportingManager, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ReportingManager, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                @Html.LabelFor(model => model.PrimaryFacilityZone, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.PrimaryFacilityZone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PrimaryFacilityZone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.HomeRouteName, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.HomeRouteName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.HomeRouteName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                @Html.LabelFor(model => model.EmployeeDestinationArea, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.EmployeeDestinationArea, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EmployeeDestinationArea, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.EmployeeRegistrationType, htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.EmployeeRegistrationType, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EmployeeRegistrationType, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $("#StateId").change(function () {
        var id = $(this).val();
        $.get('/Common/GetCityByState?stateId=' + id, function (r) {
            var dd = $("#CityId");
            dd.empty();
            dd.append('<option value="">Select City</option>');
            $.each(r, function (k, v) {
                dd.append('<option value="' + v.Id + '">' + v.CityName + '</option>');

            })
        })
    });
</script>
<script>
    $(document).ready(function () {
        $('#multiple-checkboxes').multiselect({
            includeSelectAllOption: true,
        });
    });
</script>