@model VardaanCab.Domain.ViewModels.TaxInvoiceViewModel
@{
    Layout = null;
    double gTotal = 0;
    double oTotal = Math.Round(Model.Total, 2);
    gTotal = Math.Round(Model.Total);
    double rem = Math.Round(oTotal - gTotal, 2);
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Monthly Bill</title>
    <link href="/css/TaxInvoice.css" rel="stylesheet" />

</head>
<body>
    <div id="main">


        <div class="d1">
            <div class="d1_1">
                CIN NO: U63040DL2012PTC243935
            </div>
            <div class="d1_2">

                @if (Model.IsTaxInvoice)
                {
                    <span>TAX INVOICE</span>
                }
                else
                {
                    <span>PERFORMA INVOICE</span>

                }




            </div>
            <div class="d1_3">
                PAN : AAICM2306C
                @if (!Model.isPdf)
                {
                <div class="no-print">
                    @if (!string.IsNullOrEmpty(Model.BillFile))
                    {
                        <button class="no-print btnEmail" id="btnEmail" type="button" onclick="sendEmail(this)" billId="@Model.Id">Mail To Client</button><br />
                        <a href="/Files/@Model.BillFile" class="no-print btnPdf" download>Download</a>
                    }
                    else
                    {
                        <button class="no-print btnPdf" id="btnPdf" type="button" onclick="generateDocs(this)" billId="@Model.Id">Generate Invoice</button><br />

                    }
                    <button class="no-print" onclick="window.print()" type="button">Print</button><br />

                </div>
                }
            </div>
        </div>

        <div class="d2">
            <div class="d2_1">
                <p>
                    <b>Vardaan Car Rental Services Pvt. Ltd.,</b> <br />
                    <b>Regd. Office :</b> U-1, Upadhyay Block, Shakarpur, <br />
                    New Delhi - 110092, India
                    <br />

                    <b>Email Id :</b> reservation@@vardaanrentacar.com
                </p>
            </div>
            <div class="d2_2">
                <img id="logoa" src="/images/vardaan.jpg" style="height: 150px;margin-top:1%" />
            </div>
        </div>

        <div class="d3">
            <div class="d3_1">
                <p>
                    <b>From</b> <br />
                    Vardaan Car Rental Services Private Limited<br />
                    @Model.FromAddress <br />
                    Name Of State : @Model.FromStateName <br />

                    GSTIN : @Model.FromGSTIN
                </p>
            </div>
            <div class="d3_2">
                <p>
                    <b>Billed To</b> <br />
                    @Model.CompanyName<br />
                    @Model.BilledAddress <br />

                    Name of State : @Model.PlaceOfService<br />

                    GSTIN Of Customer: @Model.CompanyGSTIN<br />
                    <br />
                </p>
            </div>
        </div>

        <div class="d4">
            <div class="d4_1">
                <b>Place Of Service - </b>
                @Model.PlaceOfService
            </div>
            <div class="d4_2">
                <b>Duty Slip No :</b>
                @Model.DsNo
            </div>
        </div>

        <div class="d5">
            <div class="d5_1">
                <p>
                    <b>Guest Name -</b> @Model.GuestName <br />
                    <b>Address Of Delivery -</b>
                    @Model.DutyAddress
                </p>

            </div>
            <div class="d5_2">
                <b> Duty Date : </b> @Model.DsDate.ToString("dd/MM/yyyy")
            </div>
        </div>

        <div class="d6">
            <table id="tbl1">
                <tr>
                    <th>Vehicle</th>
                    <th>Duty Description/Particulars</th>
                    <th>Rate</th>
                    <th>Amount</th>
                </tr>
                <tr>
                   
                    <td>
                        @Model.VehicleName
                    </td>
                    <td>

                        Total: @Model.TotalKms kms. &amp;
                        @Model.NoOfDays days
                        Duty
                        <br />
                        Monthly Package <br/>
                        @if (Model.ExtraKms > 0)
                        {
                            <span>Extra Km </span> <span>@Model.ExtraKms @@</span>  <br />
                        }
                        @if (Model.ExtraHrs > 0)
                        {
                            <span>Extra Hrs </span> <span>@(TimeSpan.FromHours(Model.ExtraHrs).ToString("hh\\:mm")) @@</span>  <br />
                        }
                        @if (Model.TotalNight > 0)
                        {
                            <span>Night Charges </span> <span>@Model.TotalNight @@</span>  <br />
                        }

                        Park/Toll/State/MCD : @Model.ParkCharge+@Model.TollCharge+@Model.InterStateCharge+@Model.MCD <br />
                        @if (Model.FuelCharge > 0)
                        {
                            <span>Fuel Charge :(@Model.FuelCharge)</span> <br />
                        }


                    </td>
                    <td>
                        @Model.Fare
                        &nbsp;
                        <br />
                        <br />
                        <!-- Extra km rate -->@if (Model.ExtraKms > 0)
                        { @Model.ExtraKmsRate      <br />}
                        <!-- Extra hours rate -->@if (Model.ExtraHrs > 0)
                        { @Model.ExtraHrsRate   <br />}
                        <!--Night Charge rate -->@if (Model.TotalNight > 0)
                        { @Model.NightRate    <br />}

                        <!--Park/toll/state --> <br />
                        @if (Model.FuelCharge > 0)
                        {
                        <!-- fuel Charge -->
                            <span>(+Or -)</span>
                        }


                    </td>
                    <td>
                        &nbsp;
                        <!-- fare--> @Model.Fare
                         <br />
                        <br />
                        <!-- Extra km rate -->@if (Model.ExtraKmsCharge > 0)
                        { @Model.ExtraKmsCharge <br /> }

                        <!-- Extra hours rate -->@if (Model.ExtraHrsCharge > 0)
                        {@Model.ExtraHrsCharge  <br /> }
                        <!--Night Charge rate -->@if (Model.NightCharge > 0)
                        {@Model.NightCharge     <br /> }
                        <!--Park/toll/state --> @(Model.ParkCharge + Model.TollCharge + Model.InterStateCharge + Model.MCD) <br />
                        @if (Model.FuelCharge > 0)
                        {
                           <!-- fuel Charge -->
                            <span>@Model.IncreaseDecreaseInFuel </span>
                        }
                    </td>
                </tr>
            </table>
        </div>

        <div class="d7">
            <div class="d7_1">
                Total Effected Duty : 1
            </div>

            <div class="d7_2">
                @*<div class="in1">
        Net Amt
    </div>
    <div class="in1">
        Discount
    </div>*@
                @if (Model.IGST > 0)
                {
                    <div class="in2">
                        IGST @@@Model.IgstPercent%
                    </div>
                }
                else
                {
                    <div class="in2">
                        CGST @@@Model.CgstPercent%
                    </div>

                    <div class="in3">
                        SGST @@@Model.SgstPercent%
                    </div>
                }


                <div class="in4">
                    Grand Total
                </div>


            </div>

            <div class="d7_3">

            </div>

            <div class="d7_4">
                @*<div class="in1">
                    Rs. @Math.Round(Model.NetAmount, 2)
                </div>
                <div class="in1">
                    Rs. @Math.Round(Model.DiscountAmount, 2)
                </div>*@
                @if (Model.IGST > 0)
                {
                    <div class="in2">
                        Rs. @Model.IGST
                    </div>
                }
                else
                {
                    <div class="in2">
                        Rs. @Model.CGST
                    </div>

                    <div class="in3 borderBtm">
                        Rs.  @Model.SGST
                    </div>
                }

                <div class="in4 ">
                    Rs. @gTotal
                </div>
            </div>
        </div>
        @if (rem != 0)
        {
            <div class="roundOff">
                <span>Round Off  Rs. @rem</span>
            </div>
        }
        <div class="d8">
            Amount in Words : @VardaanCab.Utilities.Converter.NumberToText(Convert.ToInt32(gTotal), true, false) Rupees only.
        </div>

        <div class="d9">
            Amount of Tax subject to Reverse Charges No
        </div>
    </div>
</body>
</html>
<script src="/js/jquery2.0.3.min.js"></script>
<script>

    function generateDocs(obj)
    {
        //$("#btnEmail").hide();
        //$("#btnPdf").hide();
        var el = $(obj);
        var isTaxInvoice="@Model.IsTaxInvoice";
        var id = el.attr("billId");
        el.text("wait..");
        $.get('/MonthlyPackage/GeneratePdfMonthlyBill?billId=' + id+ '&IsTaxInvoice='+isTaxInvoice)
            .done(function (response) {
                alert("Pdf has generated");
                var loc= window.location;
                window.location.href = loc;
            })
            .fail(function (err) {
                alert("server error on receipt");
            });
    }
</script>

<script>

    function sendEmail(obj)
    {
        var el = $(obj);
        var id = el.attr("billId");
        el.text("wait..");
        $.get('/MonthlyPackage/SendMonthlyPakcageBill?billId=' + id)
            .done(function (response) {
                alert("Mail has been sent");
                el.text("Mail To Client");
            })
            .fail(function (err) {
                alert("server error on receipt");
            });
    }
</script>
