@model VardaanCab.Domain.ViewModels.BookingReportVm
@{
    ViewBag.Title = "Booking Report";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int menuId = ViewBag.menuId;
    int sn = 0;
}
<link href="/css/fixtable.css" rel="stylesheet" />
<style>
    #main {
        width: 90%;
        /*height: 470px;
        overflow: scroll;*/
    }
</style>

<div id="main">
    <h2>Booking Report from @Model.sDate.ToString("dd-MMM-yyyy") to @Model.eDate.ToString("dd-MMM-yyyy")</h2>
    <div class="row">
        <a href="/admin/Submenu?menuId=@menuId" class="btn btn-info" style="margin-left:2%">Back</a>
    </div>
    @using (Html.BeginForm())
    {
        <div class="row r">

            <div class="col-md-3">
                <input type="text" class="sdp form-control" name="sDate" id="sDate" />
                <input type="hidden" name="sDateH" id="sDateH" value="@Model.sDate" />
            </div>
            <div class="col-md-3">
                <input type="text" class="sdp form-control" name="eDate" id="eDate" />
                <input type="hidden" name="eDateH" id="eDateH" value="@Model.eDate" />
            </div>
           
            <div class="col-md-3">
                <input type="submit" class="btn btn-info" value="Find" />
                <span class="btn btn-success"><i class="fa fa-file-excel-o" onclick="Export()"> Export</i></span>
            </div>
        </div>
    }


    <div class="mainDiv">
        <div class="wrapperTable table-scroll">
            <table class="table" id="table_wrapper">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Status Name</th>
                        <th>Total Booking</th>
                        @*<th>@Model.TotalBooking</th>*@
                        <th>Date Of Booking</th>

                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var item in Model.BookingStatusData)
                    {
                        <tr>
                            <td>@(++sn)</td>
                            <td>@item.StatusName</td>
                            <td>
                                @item.Count
                            </td>
                            <td>
                                @item.BookingDate
                            </td>
                        </tr>
                    }
                  
                    
                </tbody>
            </table>
        </div>
    </div>


</div>

<script src="/js/jquery2.0.3.min.js"></script>
<script>


    function Export()
    {
        var _term = $("#term").val();
        //var _sDAte = $("#sDate").val();
        //var _eDAte = $("#eDate").val();

        var _sDAte = $("#sDateH").val();
        var _eDAte = $("#eDateH").val();

        var _export = true;
        window.location.href = `/Report/BookingReport?sDate=${_sDAte}&eDate=${_eDAte}&term=${_term}&export=${_export}`;
    }
</script>
