@model VardaanCab.Domain.ViewModels.DriverReportDetailModel
@{
    ViewBag.Title = "Driver Report Detail";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int sn = 0;
}
<link href="/css/fixtable.css" rel="stylesheet" />

<style>
    #main {
        width: 99%;
        margin: auto;
    }
</style>
<div id="main">
    <div class="row r">

        <div class="col-md-3">
            <a href="/Report/DriverReport?menuId=@Model.menuId&sDate=@Model.SDate&eDate=@Model.eDate&term=@Model.term" class="btn btn-info"> Back</a>
            <button type="button" class="btn btn-info" id="btnExport"> <i class="fa fa-file-excel-o"></i></button>
        </div>
    </div>
    <h2>@ViewBag.Title:  </h2>
    <div class="mainDiv">
        <div class="wrapperTable table-scroll">
            <table id="table1" class="table">
                <thead>
                    <tr><th colspan="4">Driver Name :  @Model.DriverName</th> <th colspan="22"><b>Month : </b>@Convert.ToDateTime(Model.SDate).ToString("MMMM")</th></tr>
                    <tr>
                        <th class="sticky-col first-col">S.No.</th>
                        <th class="sticky-col second-col">BOOKING ID</th>
                        <th class="sticky-col third-col">Cab NO.</th>
                        <th>Journey Start Date</th>
                        <th>Journey Closing Date</th>
                        <th>Client Name</th>
                        <th>Place Visited</th>
                        <th>Rental Type</th>
                        <th>Fare</th>
                        <th>Extra Hrs</th>
                        <th>Extra Hrs Charge</th>
                        <th>Extra Kms</th>
                        <th>Extra Kms Charge</th>
                        <th>Tota lNight</th>
                        <th>Night Charge</th>
                        <th>OutStation Days</th>
                        <th>TA Charge</th>
                        <th>Parking</th>
                        <th>Toll Tax</th>
                        <th>State TAX</th>
                        <th>MCD</th>
                        <th>MISC</th>
                        <th>Sub Total</th>
                        <th>Discount</th>
                        <th>Total</th>

                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                    <tr>
                        <td class="sticky-col first-col">@(++sn)</td>
                        <td class="sticky-col second-col">@item.BookingId</td>
                        <td class="sticky-col third-col">@item.VehicleNumber</td>
                        <td>@item.JourneyStartDate.ToString("dd-MM-yyyy")</td>
                        <td>@item.JourneyClosingDate.ToString("dd-MM-yyyy")</td>
                        <td>@item.CompanyName</td>
                        <td>@item.VisitedPlace</td>
                        <td>@item.RentalTypeName</td>
                        <td>@item.Fare</td>
                        <td>@item.ExtraHrs</td>
                        <td>@item.ExtraHrsCharge</td>
                        <td>@item.ExtraKms</td>
                        <td>@item.ExtraKmsCharge</td>
                        <td>@item.TotalNight</td>
                        <td>@item.NightCharge</td>
                        <td>@item.OutStationDays</td>
                        <td>@item.OutStationCharge</td>
                        <td>@item.ParkCharge</td>
                        <td>@item.TollCharge</td>
                        <td>@item.StateCharge</td>
                        <td>@item.MCD</td>
                        <td>@item.MiscCharge</td>
                        <td>@item.SubTotal</td>
                        <td>@item.DiscountAmount</td>
                        <td>@item.NetAmount</td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<script src="/Scripts/jquery-1.12.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnExport").click(function (e) {
            e.preventDefault();
            //getting data from our table
            var data_type = 'data:application/vnd.ms-excel';
            var table_div = document.getElementById('table1');
            var table_html = table_div.outerHTML.replace(/ /g, '%20');


            var a = document.createElement('a');
            a.href = data_type + ', ' + table_html;
            a.download = 'driver-report-details_' + Math.floor((Math.random() * 9999999) + 1000000) + '.xls';
            a.click();
        });
    });
</script>