@model VardaanCab.Domain.ViewModels.VendorCommisionReportVm
@{
    ViewBag.Title = "Vendor Commision Report";
    Layout = "~/Views/Shared/Master/_NewAdminLayout.cshtml";
    int menuId = ViewBag.menuId;
    int sn = 0;
}
<link href="/css/fixtable.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header  card-header--2">

                    <div>
                        <h5>Vendor Commision Report from @Model.sDate.ToString("dd-MMM-yyyy") to @Model.eDate.ToString("dd-MMM-yyyy")</h5>
                    </div>

                    <span class="btn btn-success"><i class="fa fa-file-excel-o" onclick="Export()"> Export</i></span>

                </div>

                <div class="card-body">
                    <div style="width:90%">
                        @*<h2>Vendor Commision Report from @Model.sDate.ToString("dd-MMM-yyyy") to @Model.eDate.ToString("dd-MMM-yyyy")</h2>
                        <div class="row">
                            <a href="/admin/Submenu?menuId=@menuId" class="btn btn-info" style="margin-left:2%">Back</a>
                        </div>*@
                        @using (Html.BeginForm())
                        {
                            <div class="row r">

                                <div class="col-md-3">
                                    <input type="date" class="form-control" name="sDate" id="sDate" />
                                    <input type="hidden" name="sDateH" id="sDateH" value="@Model.sDate" />
                                </div>
                                <div class="col-md-3">
                                    <input type="date" class="form-control" name="eDate" id="eDate" />
                                    <input type="hidden" name="eDateH" id="eDateH" value="@Model.eDate" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" placeholder="Search by Vendor" class="form-control" value="@Model.Term" name="term" id="term" />
                                </div>
                                <div class="col-md-3">
                                    <input type="submit" class="btn btn-info" value="Find" />
                                    @*<span class="btn btn-success"><i class="fa fa-file-excel-o" onclick="Export()"> Export</i></span>*@
                                </div>
                            </div>
                        }


                        <div class="mainDiv">
                            <div class="wrapperTable table-scroll">
                                <table class="table" id="table_wrapper">
                                    <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>Company Name</th>
                                            <th>Total</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Data)
                                        {
                                            <tr>
                                                <td>@(++sn)</td>
                                                <td>
                                                    @item.CompanyName
                                                </td>
                                                <td>@item.Total</td>
                                                <td>
                                                    <a href="/Report/VendorSaleDetail?vendorId=@item.VendorId&sDate=@Model.StartDate&eDate=@Model.EndDate&menuId=@ViewBag.menuId">Detail</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row r">
                            <div class="col-md-12">
                                <b>Grand Total : </b> @Model.Total
                            </div>
                        </div>

                        @*<div class="row r r">
                                <div class="col-md-12">
                                    <ul class="pagination">
                                        @for (int i = 1; i <= Model.NumberOfPages; i++)
                                        {
                                            <li class="@if (i == Model.Page) {<text>active</text> }">
                                                <a href="/Customer/All?term=@Model.Term&page=@i">@i</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>*@

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


                    <script src="/js/jquery2.0.3.min.js"></script>
                    <script>


                        function Export() {
                            var _term = $("#term").val();
                            var _sDAte = $("#sDateH").val();
                            var _eDAte = $("#eDateH").val();
                            //var _sDAte = $("#sDate").val();
                            //var _eDAte = $("#eDate").val();
                            var _export = true;
                            window.location.href = `/Report/VendorCommisionReport?sDate=${_sDAte}&eDate=${_eDAte}&term=${_term}&export=${_export}`;
                        }
                    </script>
